.buttonholder { margin: 5px 40px 5px 0px; }

table.cp-rawdata tbody { table-layout: fixed; display: block; overflow: auto; }
table.cp-rawdata { border-collapse: collapse; table-layout: fixed; box-sizing: border-box; font-family: arial; font-size: 9pt; }
table.cp-rawdata td { white-space: nowrap; overflow: hidden; overflow-x: hidden; }
table.cp-rawdata tbody td.Observed { color: #7cb5ec; }
table.cp-rawdata tbody td.Predicted { color: #434348; font-style: italic; font-weight: bold; }
table.cp-rawdata td, table.cp-rawdata th { border: 1px solid #BFBFBF; }
table.cp-rawdata tr:first-child th { border-top: 0; }
table.cp-rawdata tr th:first-child { border-left: 0; }
table.cp-rawdata tr th:last-child { border-right: 0; }
table.cp-rawdata tr:first-child td { border-top: 0; }
table.cp-rawdata tr:last-child td { border-bottom: 0; }
table.cp-rawdata tr td:first-child { border-left: 0; }
table.cp-rawdata tr td:last-child { border-right: 0; }
table.cp-rawdata { margin: 0px; width: 100%; }

.host-select { width: 100%; }
.remove-column { width: 60px; }
.option-holder { border: 1px solid silver; border-radius: 5px; padding: 5px; font-size: 1.2em; }
.opt { margin: 5px 5px 5px 5px; border: 1px solid silver; border-radius: 5px; background-color: silver; }
.title { display: inline-block; font-weight: bold; padding: 5px; margin-right: 20px; width: 120px; }
.value { display: inline-block; width: 400px; vertical-align: middle; height: 1.6em; padding: 4px; background-color: white; border: 2px solid silver; border-radius: 5px; }
.exinfo { margin: 5px; padding: 10px; background-color: #00FF99; border: 2px solid silver; border-radius: 5px; }
.exwarn { margin: 5px; padding: 10px; background-color: #FFFF99; border: 2px solid silver; border-radius: 5px; }
.name-header { width: 180px; }

.capacityplanning_map_outboard .dashifybutton { position: absolute; top: 15px; left: 15px; z-index: 1; }
.dashlettable.capacityplanning_map_outboard { }
.capacityplanning_map_outboard { border: 1px solid transparent; padding: 0; width: 100%; }
.capacityplanning_dashlet { width: 100%; height: 300px; }

.cp-tabs { position: absolute; top: 32px; right: 10px; margin: 0; list-style-type: none; padding:0; }
.cp-tabs li { margin-bottom: 3px; border: 1px solid #CCC; padding: 6px 8px; position: relative; background: #e6e6e6; left: -1px; }
.cp-tabs li:hover:not(.active) {  border-top: 1px solid #999; border-right: 1px solid #999; border-bottom: 1px solid #999; background: #dadada; cursor: pointer; }
.cp-tabs li a { cursor: pointer; color: #555; }
.cp-tabs li.active { background: #FFF; border-left: none; padding-left: 9px; }
.cp-tabs li.active a { color: #000; }
.cp-tabs li a:hover { text-decoration: none; color: #000; }

.cp-tab-container { border: 1px solid #CCC; background-color: #FFF; margin-right: 36px; }
.cp-scroll { overflow-y: scroll; }
.cp-sidebar { width: 200px; border: 1px solid #CCC; margin-right: 10px; padding: 10px; }
.cp-sidebar a { cursor: pointer; }

.cp-report { position: relative; padding-bottom: 20px; }
.cp-report .buttons { position: absolute; top: 105px; right: 12px; }
.cp-report .buttons a { cursor: pointer; display: block; margin-bottom: 6px; }
.cp-report .cp-tabs { top: 1px; right: 1px; }

.cp-pager-container { text-align: center; }

.cp-settings-box { display: none; position: absolute; top: 90px; right: 38px; margin: 15px 0 0 5px; padding: 10px; border: 1px solid #CCC; background-color: #F9F9F9; }
.cp-settings-box h5 { margin: 0 0 5px 0; }
.cp-settings-box select { margin-bottom: 10px; }
