#applet-container > #device-list-applet > section{min-height:436px}
#add-device-btn-wrapper{height:26px;float:right;border-bottom:solid 1px #fff;background:url("/ui/1.0.99.201002/static/cache/applets/device_list/images/adddevice_btn_bg_repeat.png") top right repeat-x}
#device-list-applet:first-child{clear:both}
#device-list-applet #clear-devices-btn-wrapper{display:none;float:left;height:100%;width:50px}
#device-list-applet .refresh,#device-list-applet .clear-btn{min-width:23px;width:23px;max-width:23px;padding-left:0;padding-right:0}
#device-list-applet .applet-main{padding-top:0}
#device-list-applet .device-container{position:relative;display:inline-block;width:262px;height:80px;overflow:hidden;float:left;font-size:14px;cursor:pointer;margin-right:30px;margin-top:30px;background-color:transparent;background-position:left top;background-repeat:no-repeat;background-image:url("/ui/1.0.99.201002/static/applets/device_list/images/Device_bg.png");-webkit-box-shadow:2px 1px 7px rgba(0,0,0,0.10);-moz-box-shadow:2px 1px 7px rgba(0,0,0,0.10);-ms-box-shadow:2px 1px 7px rgba(0,0,0,0.10);-o-box-shadow:2px 1px 7px rgba(0,0,0,0.10);box-shadow:2px 1px 7px rgba(0,0,0,0.10);}
#device-list-applet .device-container.offline{background-position:0 -320px;}
#device-list-applet .device-container.offline .device-icon{background-position:-112px 0}
#device-list-applet .device-container.hover{background-position:0 -80px}
#device-list-applet .device-container.pressed{background-position:0 -160px}
#device-list-applet .device-container:after{position:absolute;left:244px;top:63px;content:url("/ui/1.0.99.201002/static/cache/images/info_icon.png")}
#device-list-applet .device-container.offline > img.device-icon{background-position:-96px 0}
#device-list-applet .device-container > h2{display:block;margin:15px 0 0 68px !important;color:#3992cf}
#device-list-applet .device-container > h3{display:block !important;margin:0 0 0 68px !important;padding:0 !important}
#device-list-applet .device-container h2{width:179px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
#device-list-applet .device-container .device-icon{position:absolute;height:56px;width:56px;margin:12px 0 0 8px}
#device-list-applet .device-container .close-button{position:absolute;top:5px;right:5px}
#device-list-applet #device-list{width:105%}
#device-info{position:relative;width:445px;overflow:hidden;}
#device-info.folded #divStats{height:30px;}
#device-info.folded #divStats #fold-up{visibility:visible}
#device-info.folded #divChange{height:215px}
#device-info th{font-weight:bold}
#device-info .dialog-header{height:80px;padding-left:40px;}
#device-info .dialog-header.edit #edit-link,#device-info .dialog-header.edit #device-name,#device-info .dialog-header #edit-device-name{display:none}
#device-info .dialog-header.edit #edit-device-name{display:block}
#device-info .dialog-content{height:245px;padding:0;margin:0}
#device-info .dialog-buttons{right:0;width:452px}
#device-info #divStats,#device-info #divChange{position:relative;overflow:hidden;-webkit-transition:height .5s ease-out;-moz-transition:height .5s ease-out;-ms-transition:height .5s ease-out;-o-transition:height .5s ease-out;transition:height .5s ease-out}
#device-info #divChange{background:$lightBlue;border:none;height:0}
#device-info #divStats{background:$lightBlue;border:none;height:245px;}
#device-info #divStats #fold-up{visibility:hidden}
#device-info #divStats #divStatsContent{height:180px;overflow:auto;padding:30px 40px 0 40px;}
#device-info #divStats #divStatsContent table{width:426px;max-width:426px}
#device-info #divStats #divStatsContent th,#device-info #divStats #divStatsContent td{vertical-align:top;white-space:nowrap}
#device-info #divStats #divStatsContent td + td{width:242px;max-width:242px}
#device-info #divStats #divStatsContent #fw-row .checking-fw,#device-info #divStats #divStatsContent #fw-row .up-to-date-fw,#device-info #divStats #divStatsContent #fw-row .available-fw{display:none;}
#device-info #divStats #divStatsContent #fw-row .checking-fw.show,#device-info #divStats #divStatsContent #fw-row .up-to-date-fw.show,#device-info #divStats #divStatsContent #fw-row .available-fw.show{display:block}
#device-info #divStats #divStatsContent #fw-row .checking-fw{color:#808184}
#device-info #divChange .dialog-subhead,#device-info #divStats .dialog-subhead{border-top:1px solid #fff;border-left:1px solid #c2cacf;overflow-x:hidden;padding:6px 0 0 40px;height:30px !important;margin-bottom:-4px;color:#3a5160;font-weight:bold;font-size:15px;background:$lightBlue url("/ui/1.0.99.201002/static/cache/images/applet/bottom.png") bottom left no-repeat;background:url("/ui/1.0.99.201002/static/cache/images/applet/top.png") top left no-repeat,url("/ui/1.0.99.201002/static/cache/images/applet/bottom.png") bottom left no-repeat,url("/ui/1.0.99.201002/static/cache/images/applet/repeat.png") center left repeat-y}
#device-info .device-icons-wrapper,#device-info #divStats #divStatsContent{background-color:#d2dadf;background:url("/ui/1.0.99.201002/static/cache/images/applet/top.png") top left no-repeat,url("/ui/1.0.99.201002/static/cache/images/applet/bottom.png") bottom left no-repeat,url("/ui/1.0.99.201002/static/cache/images/applet/repeat.png") center left repeat-y}
#device-info #fold-up{display:inline;float:right;visibility:hidden;margin-right:20px}
#device-info #device-name h1{font-size:22px;position:relative;top:8px;width:272px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;cursor:help}
#device-info #name-text{width:250px}
#device-info #edit-device-name{font-size:22px;height:76px}
#device-info #edit-link{float:right}
#device-info #device-rename{float:left;height:76px;width:270px;overflow:hidden}
#device-info .icon-block{width:76px;float:left;text-align:center}
#device-info .device-icons-wrapper{margin-top:5px;overflow-y:scroll;height:178px}
#device-info .device-icon-box{padding:15px 0 15px 40px;}
#device-info .device-icon-box > div{float:left;width:78px;height:78px;padding:0;margin:0 5px 5px 0;cursor:pointer;background:transparent url("/ui/1.0.99.201002/static/cache/applets/device_list/images/icon-bg.png") left top no-repeat;-webkit-box-shadow:2px 1px 7px rgba(0,0,0,0.10);-moz-box-shadow:2px 1px 7px rgba(0,0,0,0.10);-ms-box-shadow:2px 1px 7px rgba(0,0,0,0.10);-o-box-shadow:2px 1px 7px rgba(0,0,0,0.10);box-shadow:2px 1px 7px rgba(0,0,0,0.10);}
#device-info .device-icon-box > div > div{margin:10px 0 0 10px}
html.IE8 #device-info #divChange .dialog-subhead:before{position:absolute;top:123px;left:0;width:445px;height:37px;content:"";z-index:60;background:url("/ui/1.0.99.201002/static/cache/images/applet/repeat.png") center left repeat-y}
html.IE8 #device-info #divChange .dialog-subhead:before{position:absolute;top:123px;left:10px;width:445px;height:37px;overflow-x:hidden;content:"";z-index:60;background:url("/ui/1.0.99.201002/static/cache/images/applet/bottom.png") bottom left no-repeat}
html.IE8 #device-info #divStats .dialog-subhead:before{position:absolute;top:0;left:0;width:445px;height:37px;overflow-x:hidden;content:"";background:url("/ui/1.0.99.201002/static/cache/images/applet/bottom.png") bottom left no-repeat}
html.iPad #device-info #divStats,html.iPad #device-info #divStats #divStatsContent,html.iPad #device-info .dialog-content{height:auto;overflow-y:visible;-webkit-transition-duration:0}
html.iPad #device-info #divStats #divStatsContent{min-height:180px}
html.iPad #device-info.folded #divChange,html.iPad #device-info.folded .device-icons-wrapper,html.iPad #device-info.folded .device-icon-box{height:auto;overflow-y:visible}
html.iPad #device-info.folded #divStats{overflow-y:hidden;height:30px}
html[dir="rtl"] #device-list-applet #clear-devices-btn-wrapper{float:right}
html[dir="rtl"] #device-list-applet .device-container{float:right;margin-left:30px;margin-right:0;}
html[dir="rtl"] #device-list-applet .device-container:after{left:auto;right:244px}
html[dir="rtl"] #device-list-applet .device-container > h2{margin:15px 68px 0 0 !important}
html[dir="rtl"] #device-list-applet .device-container > h3{margin:0 68px 0 0 !important}
html[dir="rtl"] #device-list-applet .device-container .close-button{left:5px;right:auto}
html[dir="rtl"] #device-list-applet .device-container .device-icon{margin:12px 8px 0 0}
html[dir="rtl"] #device-list-applet #add-device-btn-wrapper{float:left}
html[dir="rtl"] #device-info .device-icon-box{padding:15px 10px 15px 0}
html[dir="rtl"] #device-info .device-icon-box > div{float:right;margin:0 0 5px 5px}
html[dir="rtl"] #device-info .device-icon-box > div > div{margin:10px 10px 0 0}
html[dir="rtl"] #device-info .dialog-buttons{right:auto;left:0}
html[dir="rtl"] #device-info .dialog-header{padding-left:28px;padding-right:40px}
html[dir="rtl"] #device-info #divChange .dialog-subhead,html[dir="rtl"] #device-info #divStats .dialog-subhead{padding:6px 40px 0 0}
html[dir="rtl"] #device-info .icon-block,html[dir="rtl"] #device-info #device-rename{float:right}
html[dir="rtl"] #device-info #edit-link{float:left}
html[dir="rtl"] #device-info #fold-up{float:left;margin-right:0;margin-left:20px}

