#device-list-widget{font-size:12px;color:#3a5160;margin:15px 35px 0 65px;}
#device-list-widget dt{clear:both}
#device-list-widget dt,#device-list-widget dd{margin-bottom:10px;float:left}
#device-list-widget dt{margin-right:20px}
#device-list-widget #divButton{float:left;margin-left:5px;margin-top:5px}
#device-list-widget #btnAddDevice span.truncate-text{display:inline-block;width:100px}

