module nagiosxi 1.0;

require {
        type nagios_t;
        type nagios_content_t;
        type nagios_etc_t;
        type nagios_log_t;
        type nagios_exec_t;
        type ping_exec_t;
        type user_tmp_t;
        type postfix_master_t;
        type snmpd_var_lib_t;
        type postfix_pickup_t;
        type mysqld_db_t;
        type postfix_local_t;
        type kernel_t;
        type mysqld_unit_file_t;
        type postfix_public_t;
        type shadow_t;
        type crond_unit_file_t;
        type default_t;
        type user_cron_spool_t;
        type initrc_var_run_t;
        type postfix_qmgr_t;
        type postfix_spool_t;
        type mysqld_t;
        type tmp_t;
        type node_t;
        type systemd_logind_sessions_t;
        type init_exec_t;
        type chkpwd_t;
        type httpd_t;
        type mysqld_var_run_t;
        type postfix_etc_t;
        type postfix_cleanup_t;
        type systemd_logind_t;
        type mysqld_log_t;
        type user_tty_device_t;
        type unconfined_service_t;
        type httpd_log_t;
        type var_log_t;
        type rpm_log_t;
        type user_devpts_t;
        type dhcpc_t;
        type mrtg_etc_t;
        type configfs_t;
        type system_cronjob_t;
        type faillog_t;
        type audisp_t;
        type policykit_t;
        type rpm_var_lib_t;
        type lvm_t;
        type inetd_t;
        type mysqld_safe_t;
        type crond_t;
        type ntpd_t;
        type unconfined_t;
        type init_t;
        type auditd_t;
        type postfix_postdrop_t;
        type syslogd_t;
        type NetworkManager_t;
        type setroubleshootd_t;
        type system_dbusd_t;
        type local_login_t;
        type systemd_tmpfiles_t;
        type rpm_var_cache_t;
        type lastlog_t;
        type irqbalance_t;
        type security_t;
        type tuned_t;
        type system_mail_t;
        type firewalld_t;
        type mrtg_var_lib_t;
        type iptables_var_run_t;
        type snmpd_t;
        type udev_t;
        type sshd_t;
        type sysctl_fs_t;
        type postfix_qmgr_t;
        type slapd_cert_t;
        type dbusd_exec_t;
        type hugetlbfs_t;
        class process { setcap };
        class file { append create execute execute_no_trans getattr ioctl lock map open read rename setattr unlink write link };
        class capability { audit_write fsetid net_admin net_raw sys_resource dac_override};
        class dir { add_name getattr open read remove_name search write create setattr rename rmdir reparent };
        class sock_file { create getattr unlink write };
        class fifo_file { create open read write getattr};
        class icmp_socket { create getopt read setopt write };
        class rawip_socket { bind create node_bind read setopt write getopt };
        class unix_stream_socket { connectto read write getattr};
        class dbus send_msg;
        class service status;
        class packet_socket { bind create getopt ioctl map read setopt write };
        class netlink_rdma_socket { bind create getattr read setopt write };
        class netlink_generic_socket { create ioctl };
        class netlink_netfilter_socket { bind create getattr setopt };
        class capability2 bpf;
        class system module_request;
        class chr_file getattr;
        class passwd passwd;
        class netlink_selinux_socket { bind create };
        class lnk_file { read open getattr create unlink };
        class security compute_av;
}

#============= httpd_t ==============
###########################################
# Required for ps
###########################################
allow httpd_t NetworkManager_t:dir { getattr search };
allow httpd_t NetworkManager_t:file { open read };
allow httpd_t audisp_t:dir { getattr search };
allow httpd_t audisp_t:file { open read };
allow httpd_t auditd_t:dir { getattr search };
allow httpd_t auditd_t:file { open read };
allow httpd_t configfs_t:dir getattr;
allow httpd_t crond_t:dir { getattr search };
allow httpd_t crond_t:file { open read };
allow httpd_t dhcpc_t:dir { getattr search };
allow httpd_t dhcpc_t:file { open read };
allow httpd_t faillog_t:file { open read };
allow httpd_t firewalld_t:dir { getattr search };
allow httpd_t firewalld_t:file { open read };
allow httpd_t httpd_log_t:dir read;
allow httpd_t inetd_t:dir { getattr search };
allow httpd_t inetd_t:file { open read };
allow httpd_t init_t:dir { getattr search };
allow httpd_t init_t:file { open read };
allow httpd_t iptables_var_run_t:file { lock open read };
allow httpd_t irqbalance_t:dir { getattr search };
allow httpd_t irqbalance_t:file { open read };
allow httpd_t kernel_t:dir { getattr search };
allow httpd_t kernel_t:file { open read };
allow httpd_t local_login_t:dir { getattr search };
allow httpd_t local_login_t:file { open read };
allow httpd_t lvm_t:dir { getattr search };
allow httpd_t lvm_t:file { open read };
allow httpd_t mysqld_log_t:file { open read };
allow httpd_t mysqld_safe_t:dir { getattr search };
allow httpd_t mysqld_safe_t:file { open read };
allow httpd_t mysqld_t:dir { getattr search };
allow httpd_t mysqld_t:file { open read };
allow httpd_t nagios_t:dir { getattr search };
allow httpd_t nagios_t:file { open read };
allow httpd_t ntpd_t:dir { getattr search };
allow httpd_t ntpd_t:file { open read };
allow httpd_t policykit_t:dir { getattr search };
allow httpd_t policykit_t:file { open read };
allow httpd_t postfix_master_t:dir { getattr search };
allow httpd_t postfix_master_t:file { open read };
allow httpd_t postfix_pickup_t:dir { getattr search };
allow httpd_t postfix_pickup_t:file { open read };
allow httpd_t postfix_qmgr_t:dir { getattr search };
allow httpd_t postfix_qmgr_t:file { open read };
allow httpd_t setroubleshootd_t:dir { getattr search };
allow httpd_t setroubleshootd_t:file { open read };
allow httpd_t snmpd_t:dir { getattr search };
allow httpd_t snmpd_t:file { open read };
allow httpd_t sshd_t:dir { getattr search };
allow httpd_t sshd_t:file { open read };
allow httpd_t sysctl_fs_t:file { getattr open read };
allow httpd_t syslogd_t:dir { getattr search };
allow httpd_t syslogd_t:file { open read };
allow httpd_t system_cronjob_t:dir { getattr search };
allow httpd_t system_cronjob_t:file { open read };
allow httpd_t system_dbusd_t:dir { getattr search };
allow httpd_t system_dbusd_t:file { open read };
allow httpd_t systemd_logind_t:dir { getattr search };
allow httpd_t systemd_logind_t:file { open read };
allow httpd_t tuned_t:dir { getattr search };
allow httpd_t tuned_t:file { open read };
allow httpd_t udev_t:dir { getattr search };
allow httpd_t udev_t:file { open read };
allow httpd_t unconfined_service_t:dir { getattr search };
allow httpd_t unconfined_service_t:file { open read };
allow httpd_t unconfined_t:dir { getattr search };
allow httpd_t unconfined_t:file { open read };
allow httpd_t unconfined_t:lnk_file read;
allow httpd_t var_log_t:file { open read };
###########################################

allow httpd_t lastlog_t:file { open read write };
allow httpd_t rpm_log_t:file open;
allow httpd_t rpm_var_cache_t:file { getattr lock open read write create rename setattr unlink };
allow httpd_t rpm_var_cache_t:dir { add_name create read remove_name rename reparent rmdir write };
allow httpd_t rpm_var_lib_t:dir { write add_name };
allow httpd_t rpm_var_lib_t:file { getattr lock open read write create setattr };
allow httpd_t security_t:security compute_av;
allow httpd_t self:netlink_selinux_socket { bind create };
allow httpd_t self:passwd passwd;
allow httpd_t default_t:dir read;
allow httpd_t default_t:file { read getattr };
allow httpd_t firewalld_t:dbus send_msg;
allow httpd_t initrc_var_run_t:file { lock open read };
allow httpd_t kernel_t:system module_request;
allow httpd_t nagios_content_t:dir { add_name remove_name write create setattr };
allow httpd_t nagios_content_t:file { append create execute execute_no_trans setattr unlink write rename};
allow httpd_t nagios_content_t:fifo_file { getattr open write };
allow httpd_t nagios_log_t:dir { read write add_name create remove_name rmdir rename};
allow httpd_t nagios_log_t:file { create rename setattr unlink write map};
allow httpd_t nagios_etc_t:dir { add_name remove_name write };
allow httpd_t nagios_etc_t:file { append create rename setattr write map unlink};
allow httpd_t nagios_exec_t:file { execute open read execute_no_trans };
allow httpd_t node_t:rawip_socket node_bind;
allow httpd_t postfix_etc_t:dir read;
allow httpd_t postfix_etc_t:file { getattr open read };
allow httpd_t postfix_master_t:unix_stream_socket connectto;
allow httpd_t postfix_public_t:sock_file { getattr write };
allow httpd_t postfix_spool_t:dir { add_name remove_name write };
allow httpd_t postfix_spool_t:file { create rename setattr };
allow httpd_t self:capability { net_admin net_raw};
allow httpd_t self:capability2 bpf;
allow httpd_t self:netlink_generic_socket { create ioctl };
allow httpd_t self:netlink_rdma_socket { bind create getattr read setopt write };
allow httpd_t self:packet_socket { bind create getopt ioctl map read setopt write };
allow httpd_t self:rawip_socket { bind create read setopt write getopt};
allow httpd_t self:icmp_socket { create getopt read setopt write };
allow httpd_t self:netlink_netfilter_socket { bind create getattr setopt };
allow httpd_t shadow_t:file { getattr open read };
allow httpd_t snmpd_var_lib_t:file { getattr open read write };
allow httpd_t systemd_logind_sessions_t:fifo_file write;
allow httpd_t systemd_logind_t:dbus send_msg;
allow httpd_t user_cron_spool_t:dir { add_name remove_name write };
allow httpd_t user_cron_spool_t:file { create open rename setattr unlink };
allow httpd_t slapd_cert_t:dir { add_name remove_name write };
allow httpd_t slapd_cert_t:file { create unlink write };
allow httpd_t slapd_cert_t:lnk_file { create unlink };
allow httpd_t mrtg_etc_t:dir { add_name remove_name write read };
allow httpd_t mrtg_etc_t:file { create ioctl link unlink write getattr open read };
allow httpd_t mrtg_var_lib_t:dir { add_name remove_name write read };
allow httpd_t mrtg_var_lib_t:file { create lock open read rename setattr write getattr };

#============= nagios_t ==============

allow nagios_t crond_unit_file_t:service status;
allow nagios_t init_exec_t:file getattr;
allow nagios_t mysqld_db_t:dir search;
allow nagios_t mysqld_t:unix_stream_socket connectto;
allow nagios_t mysqld_unit_file_t:service status;
allow nagios_t mysqld_var_run_t:sock_file write;
allow nagios_t nagios_content_t:dir { add_name getattr open read remove_name search write create };
allow nagios_t nagios_content_t:fifo_file { create open read write getattr };
allow nagios_t nagios_content_t:file { append create execute execute_no_trans getattr ioctl lock open read rename setattr unlink write map };
allow nagios_t nagios_content_t:sock_file { create unlink write };
allow nagios_t nagios_content_t:lnk_file { read open getattr };
allow nagios_t nagios_exec_t:dir search;
allow nagios_t ping_exec_t:file { execute execute_no_trans open read map getattr };
allow nagios_t self:capability { net_admin net_raw };
allow nagios_t self:icmp_socket { create getopt read setopt write };
allow nagios_t self:process setcap;
allow nagios_t self:rawip_socket { create read setopt write getopt };
allow nagios_t shadow_t:file { getattr open read };
allow nagios_t tmp_t:file { open write };
allow nagios_t user_tmp_t:dir { getattr search write add_name };
allow nagios_t user_tmp_t:file { create open };
allow nagios_t snmpd_var_lib_t:dir { getattr search open read };
allow nagios_t snmpd_var_lib_t:file { read getattr open };
allow nagios_t dbusd_exec_t:file getattr;
allow nagios_t hugetlbfs_t:file { read write };
allow nagios_t mrtg_var_lib_t:dir search;
allow nagios_t mrtg_var_lib_t:file { getattr lock open read };

#============= firewalld_t ==============
allow firewalld_t httpd_t:dbus send_msg;

#============= postfix_postdrop_t ==============
allow postfix_postdrop_t init_t:unix_stream_socket { getattr read write };

#============= system_mail_t ==============
allow system_mail_t init_t:unix_stream_socket { getattr read write };

#============= snmpd_t ==============
allow snmpd_t nagios_content_t:file read;

# For Safety
neverallow * self:capability dac_override;