#wireless-applet #wireless .radio-config-box{margin-bottom:15px;padding:15px 0 10px 12px;}
#wireless-applet #wireless .radio-config-box + .radio-config-box{border-top:1px solid #ccc}
#wireless-applet #wireless .radio-config-box h3{padding-bottom:8px;margin-bottom:13px;margin-right:12px}
#wireless-applet #wireless .radio-config-box h2{color:#3e667b;font-size:14px;font-weight:bold;margin:10px 0 15px 0}
#wireless-applet #wireless .radio-config-box label{display:inline-block;font-weight:bold;width:100px !important;margin:6px 6px 6px 0;vertical-align:middle;word-wrap:break-word}
#wireless-applet #wireless .radio-config-box label[for="settings.isEnabled"]{float:right;width:auto !important}
#wireless-applet #wireless .radio-config-box input,#wireless-applet #wireless .radio-config-box select,#wireless-applet #wireless .radio-config-box button{width:156px !important;margin-right:9px;margin-bottom:8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#wireless-applet #wireless .radio-config-box select,#wireless-applet #wireless .radio-config-box option{color:#535353;font-weight:bold}
#wireless-applet #wireless .radio-config-box .no-edit-field{width:156px !important;margin-right:9px;margin-bottom:8px;display:inline-block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#wireless-applet #wireless .radio-config-box .ipv4-input{margin-right:10px;font-weight:bold;font-size:14px}
#wireless-applet #wireless .radio-config-box .ipv4-input input{width:33px !important;margin-right:2px !important}
#wireless-applet #wireless .radio-config-box .ipv4-input input ~ input{margin-left:2px !important}
#wireless-applet #wireless .radio-config-box .w-wep-generate-keys{width:154px !important}
#wireless-applet #wireless .radio-config-box .invalid-option{color:#cacaca}
#wireless-applet #wireless .radio-config-box.w-wep .w-personal-only,#wireless-applet #wireless .radio-config-box.w-wep .w-wpa-enterpr-only,#wireless-applet #wireless .radio-config-box.w-wep .w-no-sec-only{display:none}
#wireless-applet #wireless .radio-config-box.w-personal .w-wep-only,#wireless-applet #wireless .radio-config-box.w-personal .w-wpa-enterpr-only,#wireless-applet #wireless .radio-config-box.w-personal .w-no-sec-only{display:none}
#wireless-applet #wireless .radio-config-box.w-wpa-enterpr .w-wep-only,#wireless-applet #wireless .radio-config-box.w-wpa-enterpr .w-personal-only,#wireless-applet #wireless .radio-config-box.w-wpa-enterpr .w-no-sec-only{display:none}
#wireless-applet #wireless .radio-config-box.w-no-sec .w-wep-only,#wireless-applet #wireless .radio-config-box.w-no-sec .w-personal-only,#wireless-applet #wireless .radio-config-box.w-no-sec .w-wpa-enterpr-only{display:none}
#wireless-applet #wireless .radio-config-box .channelWrapper,#wireless-applet #wireless .radio-config-box .channelWidthWrapper,#wireless-applet #wireless .radio-config-box .networkModeWrapper,#wireless-applet #wireless .radio-config-box .securityTypeWrapper{display:inline}
#wireless-applet #wireless .radio-toggle{float:right}
#wireless-applet #wireless #band-steering-selection{font-size:10px;color:#666;margin-bottom:15px;padding-left:10px;}
#wireless-applet #wireless #band-steering-selection > span{max-width:230px;display:inline-block}
#wireless-applet #wireless #band-steering-selection .triBandSteering{display:inline-block;vertical-align:middle}
#wireless-applet #wireless #band-steering-selection .steering-title{display:inline-block;vertical-align:middle;margin-right:40px}
#wireless-applet #wireless #band-steering-selection .steering-help{display:inline-block;text-align:right;float:right;padding:7px 0}
#wireless-applet #wireless #band-steering-selection strong{color:#3a5160;font-size:14px;font-weight:bold}
#wireless-applet #wireless #band-steering-selection.triBandSteeringSupported .steering-title{margin-right:20px}
#wireless-applet #mac-filtering legend{white-space:nowrap}
#wireless-applet #mac-filtering .check-item > div + div{max-width:300px}
#wireless-applet #mac-filtering fieldset.solid{padding:10px;}
#wireless-applet #mac-filtering fieldset.solid legend{font-size:10pt;padding:0 5px}
#wireless-applet #filter-wrapper{width:389px;}
#wireless-applet #filter-wrapper th:first-child,#wireless-applet #filter-wrapper td:first-child{min-width:193px;max-width:193px}
#wireless-applet #filter-wrapper th:first-child + th,#wireless-applet #filter-wrapper td:first-child + td{min-width:175px;max-width:175px}
#wireless-applet #add-address{margin-top:15px}
#wireless-applet #wps.serverNotAvailable #wps-service-disabled{display:inline}
#wireless-applet #wps.serverNotAvailable #wps-service-enabled,#wireless-applet #wps #wps-service-disabled{display:none}
#wireless-applet #wps div.left{width:32%}
#wireless-applet #wps #wps-enabled-legend,#wireless-applet #wps #wps-enabled-switch{margin-bottom:15px}
#wireless-applet #wps #wps-enabled-wrapper{float:left;margin-top:18px;margin-right:30px;margin-left:15px}
#wireless-applet #wps #wps-enabled-text-wrapper-wrapper{width:500px;padding:10px 15px}
#wireless-applet #wps #wps-enabled-text-wrapper{padding-left:60px;background:transparent url("/ui/1.0.99.201002/static/cache/images/badges/attention_48.png") center left no-repeat}
#wireless-applet #wps #wps-enabled-text{display:inline-block;padding-top:10px;padding-bottom:10px}
#wireless-applet #wps #wps-enabled-note{padding-bottom:30px}
#wireless-applet #wps #wps-button{width:65px;height:65px;margin:auto;margin-top:30px;cursor:pointer;background:transparent url("/ui/1.0.99.201002/static/cache/applets/wireless/images/wps.png") top left no-repeat;}
#wireless-applet #wps #wps-button.hover{background-position:-65px 0}
#wireless-applet #wps #wps-button.active{background-position:-130px 0}
#wireless-applet #wps #wps-button.focus{background-position:-195px 0}
#wireless-applet #wps #wps-button.disabled{background-position:-260px 0}
#wireless-applet #wps #wps-router-pin{font-weight:900;font-size:22px;color:#3a5160;margin-top:40px;text-align:center}
#wireless-applet #wps #wps-device-pin{margin-top:30px}
#wireless-applet #wps #wps-device-pin-inputs{text-align:center}
#wireless-applet #wps #wps-register{margin-top:15px}
#wireless-applet #wps #wps-bottom-row > :first-child,#wireless-applet #wps #wps-bottom-row > :first-child + *{margin-right:15px}
#wireless-applet #wps #wps-bottom-row div.highlighted{min-height:200px}
#wireless-applet #simpletap #simpletap-legend,#wireless-applet #simpletap #simpletap-description{display:block;margin-bottom:15px}
#wireless-applet #scheduler label.legend{display:block}
#wireless-applet #scheduler .tabDescription{float:left}
#wireless-applet #scheduler .helpSection{float:right;}
#wireless-applet #scheduler .helpSection .help-icon{background:transparent url("/ui/1.0.99.201002/static/cache/images/help_icon.png") left top no-repeat;width:14px;height:14px;display:block;float:right;margin-left:5px;cursor:pointer}
#wireless-applet #scheduler #tableBlockAccess{min-width:754px;max-width:846px;}
#wireless-applet #scheduler #tableBlockAccess tr td.unchecked,#wireless-applet #scheduler #tableBlockAccess tr td.checked{width:30px;height:30px}
#wireless-applet #scheduler #tableBlockAccess tr td.onOffTd{width:14px;height:14px}
#wireless-applet #scheduler #on-state,#wireless-applet #scheduler #off-state{display:none}
#wireless-applet #advanced .highlighted{clear:none;display:block;width:360px;height:120px;min-height:120px;margin-top:15px;margin-right:30px;}
#wireless-applet #advanced .highlighted #atf-enabled-wrapper,#wireless-applet #advanced .highlighted #dfs-enabled-wrapper,#wireless-applet #advanced .highlighted #clientSteering-enabled-wrapper,#wireless-applet #advanced .highlighted #nodeSteering-enabled-wrapper{float:right}
#wps-popup div > label{display:block}
#wps-popup #searching #searching-searching-for-client{margin-bottom:30px}
#wps-popup #searching #searching-please-wait{text-align:center;margin-bottom:10px}
#wps-popup #searching #spinner-section{text-align:center}
#wps-popup #failure > label:first-child,#wps-popup #success > label:first-child{margin-bottom:15px}
html.node #wireless-applet #wps:not(.serverNotAvailable) #wps-enabled-text-wrapper-wrapper{display:none}
html[dir="rtl"] #wireless-applet #wireless .radio-config-box{padding:15px 12px 10px 0;}
html[dir="rtl"] #wireless-applet #wireless .radio-config-box h3{margin-right:0;margin-left:12px}
html[dir="rtl"] #wireless-applet #wireless .radio-config-box label{margin:6px 0 6px 6px}
html[dir="rtl"] #wireless-applet #wireless .radio-config-box label[for="settings.isEnabled"]{float:left}
html[dir="rtl"] #wireless-applet #wireless .radio-config-box input,html[dir="rtl"] #wireless-applet #wireless .radio-config-box select,html[dir="rtl"] #wireless-applet #wireless .radio-config-box button{margin-right:0;margin-left:9px}
html[dir="rtl"] #wireless-applet #wireless .radio-config-box .no-edit-field{margin-right:0;margin-left:9px}
html[dir="rtl"] #wireless-applet #wireless .radio-config-box .ipv4-input{margin-right:0;margin-left:10px}
html[dir="rtl"] #wireless-applet #wireless .radio-config-box .ipv4-input input{margin-right:0 !important;margin-left:2px !important}
html[dir="rtl"] #wireless-applet #wireless .radio-config-box .ipv4-input input ~ input{margin-left:0 !important;margin-right:2px !important}
html[dir="rtl"] #wireless-applet #wireless .radio-toggle{float:left}
html[dir="rtl"] #wireless-applet #wireless #band-steering-selection{padding-left:0;padding-right:10px;}
html[dir="rtl"] #wireless-applet #wireless #band-steering-selection .steering-title{margin-right:0;margin-left:40px}
html[dir="rtl"] #wireless-applet #wireless #band-steering-selection .steering-help{text-align:left;float:left}
html[dir="rtl"] #wireless-applet #wireless #band-steering-selection.triBandSteeringSupported .steering-title{margin-right:0;margin-left:20px}
html[dir="rtl"] #wireless-applet #wps #wps-enabled-wrapper{float:right;margin-left:30px;margin-right:15px}
html[dir="rtl"] #wireless-applet #wps #wps-enabled-text-wrapper{padding-left:auto;padding-right:60px;background:transparent url("/ui/1.0.99.201002/static/cache/images/badges/attention_48.png") center right no-repeat}
html[dir="rtl"] #wireless-applet #wps #wps-bottom-row > :first-child,html[dir="rtl"] #wireless-applet #wps #wps-bottom-row > :first-child + *{margin-left:15px;margin-right:auto}
html[dir="rtl"] #wireless-applet #scheduler .tabDescription{float:right}
html[dir="rtl"] #wireless-applet #scheduler .helpSection{float:left}
html[dir="rtl"] #wireless-applet #advanced .highlighted{margin-right:0;margin-left:30px;}
html[dir="rtl"] #wireless-applet #advanced .highlighted #atf-enabled-wrapper,html[dir="rtl"] #wireless-applet #advanced .highlighted #dfs-enabled-wrapper,html[dir="rtl"] #wireless-applet #advanced .highlighted #clientSteering-enabled-wrapper,html[dir="rtl"] #wireless-applet #advanced .highlighted #nodeSteering-enabled-wrapper{float:left}
html[lang="da"] #wireless-applet #wireless .radio-config-box label,html[lang="de"] #wireless-applet #wireless .radio-config-box label,html[lang="nb"] #wireless-applet #wireless .radio-config-box label,html[lang="nl"] #wireless-applet #wireless .radio-config-box label{font-size:10px}

