#guest-access.widget{font-size:12px;color:#3a5160;margin:15px;}
#guest-access.widget dl{width:100%}
#guest-access.widget dt{padding:0;margin:2px 0 0 0;clear:both;float:left;display:block;max-width:135px;}
#guest-access.widget dt.main{padding-top:8px;max-width:175px;}
#guest-access.widget dt.main span{white-space:normal}
#guest-access.widget dd{float:right;max-width:110px;margin-top:2px}
#guest-access.widget a.disabled{cursor:default;color:#c8d5db}
#guest-access.widget .ga-50{display:none}
#guest-access.widget .dlStats{margin-top:10px;}
#guest-access.widget .dlStats.disabled{cursor:default;color:#979c9e}
#guest-access.widget .dlStats.showForNodes dt,#guest-access.widget .dlStats.showForNodes dd{margin-top:0;margin-bottom:10px}

