.word-break td{vertical-align:middle;word-wrap:break-word;word-break:break-all}
html.IE .word-break td{word-break:break-all}
.report-wrapper{background-color:#fff;width:650px;height:235px;overflow-y:scroll;padding-left:10px}
.report-wrapper fieldset{margin-top:5px}
#status-report-content,#log-content,#status-report-content td,#status-report-content th{text-align:left}
th,td{font-family:Arial,Helvetica;font-size:12px}
th{font-weight:bold}
td{font-weight:normal}
#status-devices table{background-color:#fff;border:solid 1px #000;border-collapse:collapse}
#status-devices #devices-ipv4,#status-devices #devices-ipv6{min-width:670px;max-width:670px;width:670px}
#status-devices td,#status-devices th{vertical-align:top;text-align:center;border:solid 1px #000}
#status-devices.print #devices-ipv6{margin-top:30px}
#status-devices th{padding:5px 0 5px 0}
#status-devices th:first-child,#status-devices td:first-child{min-width:200px;max-width:200px}
#status-devices th:first-child + th,#status-devices td:first-child + td{min-width:168px;max-width:168px}
#status-devices th:first-child + th + th,#status-devices td:first-child + td + td{min-width:156px;max-width:156px}
#status-devices th:first-child + th + th + th,#status-devices td:first-child + td + td + td{min-width:134px;max-width:134px}
.port-table{width:250px;border:solid 1px #000;border-collapse:collapse}
.port-table th,.port-table td{border:solid 1px #000;text-align:center !important}
#internet-port{margin-bottom:30px}
#lan-ports td,#lan-ports-linkaggregation td{min-width:55px}
#lan-ports td.not-aggregated,#lan-ports-linkaggregation td.not-aggregated{background-color:#bbb}
#lan-ports-linkaggregation{width:275px}
html[dir="rtl"] #status-report-content,html[dir="rtl"] #log-content,html[dir="rtl"] #status-report-content td,html[dir="rtl"] #status-report-content th{text-align:right}

