#troubleshooting-applet .report-wrapper,#troubleshooting-applet #logs .panel-form{width:650px;height:235px;padding:10px;overflow-y:scroll;background-color:#fff}
html.iPad #troubleshooting-applet .report-wrapper,html.iPad #troubleshooting-applet #logs .panel-form{height:auto;min-height:235px;overflow-y:visible}
html.iPad #troubleshooting-applet #router-configuration{display:none !important}
html.iPad #troubleshooting-applet #router-reboot{float:right;clear:none}
#troubleshooting-applet #status-report-content,#troubleshooting-applet #log-content{height:100%;margin-bottom:0 !important}
html[dir="rtl"] #troubleshooting-applet .report-wrapper,html[dir="rtl"] #troubleshooting-applet #logs .panel-form{padding-left:0;padding-right:10px}
#troubleshooting-applet .report-wrapper fieldset{margin-top:5px}
#troubleshooting-applet #status-report-content{text-align:left}
html[dir="rtl"] #troubleshooting-applet #status-report-content{text-align:right}
#troubleshooting-applet #status-report-content th,#troubleshooting-applet #logs th{font-weight:bold}
#troubleshooting-applet #devices-wrapper{margin-top:5px}
#troubleshooting-applet #devices-wrapper .table-wrapper{min-height:85px}
#troubleshooting-applet #status-devices table{border-collapse:collapse}
#troubleshooting-applet #status-devices #devices-ipv4,#troubleshooting-applet #status-devices #devices-ipv6{width:641px;max-width:641px}
#troubleshooting-applet #status-devices td,#troubleshooting-applet #status-devices th{vertical-align:top;text-align:center}
#troubleshooting-applet #status-devices th{padding:5px 0 5px 0}
#troubleshooting-applet #devices-wrapper div.table-wrapper + div.table-wrapper{margin-top:15px}
#troubleshooting-applet #devices-wrapper th:first-child,#troubleshooting-applet #devices-wrapper td:first-child{min-width:200px;max-width:200px}
#troubleshooting-applet #devices-wrapper th:first-child + th,#troubleshooting-applet #devices-wrapper td:first-child + td{min-width:168px;max-width:168px}
#troubleshooting-applet #devices-wrapper th:first-child + th + th,#troubleshooting-applet #devices-wrapper td:first-child + td + td{min-width:156px;max-width:156px}
#troubleshooting-applet #devices-wrapper th:first-child + th + th + th,#troubleshooting-applet #devices-wrapper td:first-child + td + td + td{min-width:134px;max-width:134px}
#troubleshooting-applet .port-table,#troubleshooting-applet .openVpn-users-table{width:250px;border:solid 1px #000;border-collapse:collapse}
#troubleshooting-applet #lan-ports td,#troubleshooting-applet #lan-ports-linkaggregation td{min-width:55px}
#troubleshooting-applet #lan-ports td.not-aggregated,#troubleshooting-applet #lan-ports-linkaggregation td.not-aggregated{background-color:#bbb}
#troubleshooting-applet #lan-ports-linkaggregation{width:275px}
#troubleshooting-applet .adsl-table{width:auto}
#troubleshooting-applet .port-table tr td,#troubleshooting-applet .adsl-table tr td,#troubleshooting-applet .openVpn-users-table tr td,#troubleshooting-applet .port-table tr th,#troubleshooting-applet .adsl-table tr th,#troubleshooting-applet .openVpn-users-table tr th{border:solid 1px #000;text-align:center}
#troubleshooting-applet #internet-port,{margin-bottom:30px}
#troubleshooting-applet #open-dhcpclienttable{margin-top:135px}
body.connection-remote #troubleshooting-applet #ppp-connect{display:none !important}
#troubleshooting-applet .panel-buttons button > span{display:inline-block;width:100%}
#dhcpclienttabledialog{width:650px}
#dhcpclienttabledialog .dialog-content{min-height:85px}
#dhcpclienttabledialog table{width:585px;border-collapse:collapse}
#dhcpclienttabledialog th,#dhcpclienttabledialog td{vertical-align:top;text-align:center}
#dhcpclienttabledialog th:first-child,#dhcpclienttabledialog td:first-child{min-width:115px;max-width:115px}
#dhcpclienttabledialog th:first-child + th,#dhcpclienttabledialog td:first-child + td{width:120px}
#dhcpclienttabledialog th:first-child + th + th,#dhcpclienttabledialog td:first-child + td + td{width:116px}
#dhcpclienttabledialog th:first-child + th + th + th,#dhcpclienttabledialog td:first-child + td + td + td{width:112px}
#dhcpclienttabledialog th:first-child + th + th + th + th,#dhcpclienttabledialog td:first-child + td + td + td + td{width:100px}
.dialog-container .diagnostics-log{background-color:#fff;padding:4px;height:200px;overflow:auto}
#troubleshooting-applet #backup-config{margin-right:15px}
#diagnostics-restore-configuration{height:225px}
#diagnostics-restore-configuration #restore{margin-top:5px}
#upload-configuration-span{position:relative;overflow:hidden;padding-left:0}
#diagnostics-ping,#diagnostics-trace{width:650px}
#auto-upload-div{padding-bottom:0}
#auto-upload-label{width:90%}
#troubleshooting-applet .single-line{line-height:28px}
#troubleshooting-applet span.switch{margin:3px 15px 0 15px}
#troubleshooting-applet .log-buttons{margin-top:60px;width:145px}
#troubleshooting-applet #log-content th,#troubleshooting-applet #log-content td{font-size:12px}
#troubleshooting-applet #log-content th.bar{text-align:center;width:25px}
#share-diagnostics{top:85px}

