#external-storage-applet .drive-device{position:relative;background-color:#fff;width:410px;padding:10px 20px;box-sizing:border-box;margin-bottom:14px;}
#external-storage-applet .drive-device legend{display:block !important;line-height:24px;padding-bottom:10px !important}
#external-storage-applet .drive-device .eject-button{float:right}
#external-storage-applet .drive-device .storageLabel{font-weight:bold}
#external-storage-applet .drive-device .storageInfo{text-align:right;font-weight:bold;font-size:11px}
#external-storage-applet .drive-device progress{width:100%;color:#1b9aff;box-sizing:border-box;background-color:#d8e3eb;border:1px solid #97a6ae}
#external-storage-applet .drive-device progress::-moz-progress-bar{background:#1b9aff}
#external-storage-applet .drive-device progress::-webkit-progress-value{background:#1b9aff}
#external-storage-applet .drive-device progress::-webkit-progress-bar{background:#d8e3eb}
#external-storage-applet .drive-device progress.high-usage{color:#fe8c00}
#external-storage-applet .drive-device progress.high-usage::-moz-progress-bar{background:#fe8c00}
#external-storage-applet .drive-device progress.high-usage::-webkit-progress-value{background:#fe8c00}
#external-storage-applet .drive-device .partition-read-only-icon{float:right;text-transform:uppercase;font-size:10px;font-weight:bold;}
#external-storage-applet .drive-device .partition-read-only-icon img{vertical-align:top}
#external-storage-applet .no-drives-message .info-heading{font-weight:bold;background:transparent url("/ui/1.0.99.201002/static/cache/images/info24.png") left center no-repeat}
#external-storage-applet .no-drives-message p{padding-left:32px}
#external-storage-applet p{margin-bottom:6px}
#external-storage-applet legend{width:100%;}
#external-storage-applet legend > div{float:right}
#external-storage-applet .unsupported-drive-partition .storageLabel{padding-left:20px;background:url("/ui/1.0.99.201002/static/cache/images/attention.png") left center no-repeat}
#external-storage-applet .unsupported-drive-partition p.unsupported-message{font-weight:bold}
#external-storage-applet .ejected-message{display:none;background-color:#aaa;color:#fff;font-weight:bold;padding:20px 34px;}
#external-storage-applet .ejected-message p{margin-bottom:0}
#external-storage-applet #smb-username,#external-storage-applet #smb-password{width:198px;margin:0}
html[dir="rtl"] #external-storage-applet .drive-device{padding:10px 34px 10px 10px;}
html[dir="rtl"] #external-storage-applet .drive-device .eject-button{float:left}
html[dir="rtl"] #external-storage-applet .drive-device .partition-read-only-icon{float:left}
html[dir="rtl"] #external-storage-applet .drive-device .drive-slide-window{padding-right:0;padding-left:34px}
html[dir="rtl"] #external-storage-applet .storageInfo{text-align:left}

