#external-storage-widget #partition-list{height:105px;overflow:hidden;position:relative;}
#external-storage-widget #partition-list ul{list-style-type:none;position:absolute;top:0;right:0;bottom:0;left:0;transition:all .5s ease-in-out}
#external-storage-widget #partition-list .partition{position:absolute;top:0;right:0;bottom:0;left:0;padding:15px;}
#external-storage-widget #partition-list .partition .node-name{font-weight:bold}
#external-storage-widget #partition-list .partition .partition-read-only-icon{text-transform:uppercase;font-size:10px;font-weight:bold}
#external-storage-widget #partition-list .partition .storageInfo{text-align:right;font-weight:bold;font-size:11px}
#external-storage-widget #partition-list .partition progress{width:100%;color:#1b9aff;box-sizing:border-box;background-color:#d8e3eb;border:1px solid #97a6ae}
#external-storage-widget #partition-list .partition progress::-moz-progress-bar{background:#1b9aff}
#external-storage-widget #partition-list .partition progress::-webkit-progress-value{background:#1b9aff}
#external-storage-widget #partition-list .partition progress::-webkit-progress-bar{background:#d8e3eb}
#external-storage-widget #partition-list .partition progress.high-usage{color:#fe8c00}
#external-storage-widget #partition-list .partition progress.high-usage::-moz-progress-bar{background:#fe8c00}
#external-storage-widget #partition-list .partition progress.high-usage::-webkit-progress-value{background:#fe8c00}
#external-storage-widget #partition-list .no-drives-message{text-align:center;margin-top:35px}
#external-storage-widget #partition-list .unsupported-partition p{padding-left:20px;background:url("/ui/1.0.99.201002/static/cache/images/attention.png") left center no-repeat}
#external-storage-widget .refresh-button{font-size:25px;position:absolute;top:6px;right:15px}
#external-storage-widget footer{line-height:24px;overflow:hidden;padding:0 15px;}
#external-storage-widget footer #pagination{float:left;}
#external-storage-widget footer #pagination #back-button,#external-storage-widget footer #pagination #forward-button{display:inline-block;cursor:pointer;width:0;height:0;border-top:6px solid transparent;border-bottom:6px solid transparent;vertical-align:middle}
#external-storage-widget footer #pagination #back-button{border-right:9px solid #6d7f8a}
#external-storage-widget footer #pagination #forward-button{border-left:9px solid #6d7f8a}
#external-storage-widget footer #pagination #page-numbers{margin:0 4px}
#external-storage-widget footer #external-storage-applet-link{float:right}
html[dir="rtl"] #external-storage-widget #partition-list .storageInfo{text-align:left}

