#diagnostics-applet hr{width:95%;height:1px;border:0;border-top:solid 1px #ddd}
#diagnostics-applet legend,#diagnostics-applet label{color:#666}
#diagnostics-applet label{min-width:140px}
#diagnostics-applet label + label{color:#03b}
#diagnostics-applet legend{font-weight:700}
#diagnostics-applet .form fieldset .row > .cell,#diagnostics-applet .form fieldset .row > label,#diagnostics-applet .form fieldset .row > div{padding:6px 5px 6px 10px}
#diagnostics-applet .error{color:#f00}
#diagnostics-applet .bold{font-weight:bold}
#diagnostics-applet #refresh-header{position:absolute;top:48px;right:25px;}
#diagnostics-applet #refresh-header #refresh-updating,#diagnostics-applet #refresh-header #refresh-updated{display:none;color:#03b}
#diagnostics-applet #refresh-header #refresh-button{min-width:42px;vertical-align:text-bottom}
#diagnostics-applet #router-section,#diagnostics-applet #radio-section,#diagnostics-applet #services-section,#diagnostics-applet #clients-section{width:385px;margin-top:10px;padding-top:8px;padding-left:8px;background-color:#fff}
#diagnostics-applet #router-section,#diagnostics-applet #radio-section{height:304px;max-height:304px;overflow-y:auto}
#diagnostics-applet #services-section,#diagnostics-applet #clients-section{min-height:375px}
#diagnostics-applet #clients-section .wireless-count-row{font-weight:bold}
#diagnostics-applet #clients-section #router-clients{margin-top:-10px}
#diagnostics-applet #speed-test-results span{margin-left:0;padding-left:15px;}
#diagnostics-applet #speed-test-results span.download{background:url("/ui/1.0.99.201002/static/cache/images/downloadArrow.png") no-repeat left center;background-size:12px}
#diagnostics-applet #speed-test-results span.upload{background:url("/ui/1.0.99.201002/static/cache/images/uploadArrow.png") no-repeat left center;background-size:12px}
#diagnostics-applet #band-steering-fieldset,#diagnostics-applet #speed-check-server-row{display:none}
#diagnostics-applet #router-services,#diagnostics-applet #connected-clients{margin-top:16px}
#diagnostics-applet #sysinfo-report #spinner-section{display:none;width:830px;height:500px;background-color:#fff;text-align:center;}
#diagnostics-applet #sysinfo-report #spinner-section img{margin-left:auto;margin-right:auto;margin-top:180px}
#diagnostics-applet #sysinfo-report #button-section{display:none;width:100px}
#diagnostics-applet #sysinfo-report #button-search,#diagnostics-applet #sysinfo-report #button-top{min-width:32px;padding:0;vertical-align:middle;background:none;-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;-o-box-shadow:none;box-shadow:none}
#diagnostics-applet #sysinfo-report #button-top{font-weight:bold}
#diagnostics-applet #sysinfo-report #text-search{height:32px;width:800px;padding-left:6px;margin-left:-2px;border:none}
#diagnostics-applet #sysinfo-report #text-sysinfo{width:818px;padding:12px;border:none;}
#diagnostics-applet #sysinfo-report #text-sysinfo::selection{color:#009;background-color:#ff6}
#diagnostics-applet #sysinfo-report #text-sysinfo::-moz-selection{color:#009;background-color:#ff6}

