#network-health.widget{vertical-align:middle;width:300%;position:relative;float:left;}
#network-health.widget .icon-block{text-align:center;width:70px}
#network-health.widget .label-text{font-size:9px;margin-top:10px;color:#3b5264;font-family:Helvetica;word-wrap:break-word}
#network-health.widget .status-text{position:relative;top:13px;width:100%;text-align:center}
#network-health.widget .status-text.green-text{color:#32cd32}
#network-health.widget .status-text.red-text{color:#b32926}
#network-health.widget .status-text.orange-text{color:#e9923a}
#network-health.widget .vertical-bar{position:relative;width:26px;height:69px}
#network-health.widget .vertical-mark{position:absolute;width:16px;height:16px;top:26px;left:50%;margin-left:-8px}
#network-health.widget .vertical-mark.check-mark{background-position:0 0}
#network-health.widget .vertical-mark.error-mark{background-position:0 -16px}
#network-health.widget #main-slide .status-text{display:none;padding-bottom:17px}
#network-health.widget #main-slide .status-text.status-show{display:block}
#network-health.widget #detail-block{position:absolute;top:30px}
#network-health.widget #first-block{margin-left:8px;}
#network-health.widget #first-block .device-icon{margin-left:7px}
#network-health.widget #second-block .device-icon{margin-left:7px}
#network-health.widget #third-block img{margin-top:5px}
#network-health.widget #firmware-update-slide{text-align:center}
#network-health.widget .msg-block{display:table;height:126px;min-width:200px;margin:auto auto;padding-left:20px;padding-right:20px;}
#network-health.widget .msg-block div{color:#3a5160;display:table-cell;vertical-align:middle;text-align:left}
#network-health.widget #net-slideshow.animate{-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out}
#network-health.widget #net-slideshow{position:relative;}
#network-health.widget #net-slideshow > div{float:left;width:275px;height:130px}
#network-health.widget #net-slideshow-controls{position:absolute;top:115px;width:200px;left:103px;font-size:5px;color:#fff;z-index:10;}
#network-health.widget #net-slideshow-controls li{display:inline;float:left;width:6px;height:6px;border:1px #cbd1d4 solid;margin:6px 7px;cursor:pointer;-webkit-background-clip:padding-box;-webkit-border-radius:6px;-moz-border-radius:6px;-ms-border-radius:6px;-o-border-radius:6px;border-radius:6px;-webkit-box-shadow:1px 1px 5px #fff inset;-moz-box-shadow:1px 1px 5px #fff inset;-ms-box-shadow:1px 1px 5px #fff inset;-o-box-shadow:1px 1px 5px #fff inset;box-shadow:1px 1px 5px #fff inset}
#network-health.widget #net-slideshow-controls li.current{background-color:#93e4ff;-webkit-box-shadow:-2px -2px 5px #3992cf inset;-moz-box-shadow:-2px -2px 5px #3992cf inset;-ms-box-shadow:-2px -2px 5px #3992cf inset;-o-box-shadow:-2px -2px 5px #3992cf inset;box-shadow:-2px -2px 5px #3992cf inset}
html.IE #network-health.widget .label-text{font-weight:normal}
html[dir="rtl"] #network-health.widget #first-block{margin-left:auto;margin-right:8px;}
html[dir="rtl"] #network-health.widget #first-block .device-icon{margin-left:auto;margin-right:7px}
html[dir="rtl"] #network-health.widget #second-block .device-icon{margin-left:auto;margin-right:7px}
html[dir="rtl"] #network-health.widget .msg-block div{text-align:right}

