
body {
    color: black;
    background-color: white;
    font-size: 100.01%;
    font-family: Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 5px;
    min-width: 400px;
    /* Mindestbreite verhindert Umbruch und Anzeigefehler in modernen Browsern */;
  }

div.auto_complete { 
	width: 350px; 
	background: #FFFFFF; 
	font-family: verdana,arial,serif; color: #000000; 
	font-size: 8pt; 
}

div.auto_complete ul { 
	border:1px solid #888; 
	margin:0; 
	padding:0; 
	width:100%; 
	list-style-type:none; 
	font-size: 8pt; 
}

div.auto_complete ul li { 
	margin:0; 
	padding:3px; 
	font-size: 8pt; 
} 

div.auto_complete ul li.selected { 
	background-color: #C3C3C3; 
}

div.auto_complete ul strong.highlight { 
	color: #C3C4C3; 
	margin:0; 
	padding:0; 
}

input {
  padding:1px;
  border:1px solid black;
}

span.inact {
padding-left:14px;
color: gray;
text-decoration: underline;
background: url(../images/int.gif) no-repeat left;
}


p#critical {
padding-left:24px;
color: red;
text-decoration: underline;
background: url(../images/critical.png) no-repeat left;
}
p#warning {
padding-left:24px;
color: black;
text-decoration: underline;
background: url(../images/warning.png) no-repeat left;
}
p#ok {
padding-left:24px;
color: black;
text-decoration: none;
background: url(../images/ok.png) no-repeat left;
}

span.notpl {
padding-left:14px;
color: red;
text-decoration: underline;
background: url(../images/link.png) no-repeat left;
}


a.int {
padding-left:14px;
text-decoration: none;
background: url(../images/int.gif) no-repeat left;
}
a.link:hover {
text-decoration: underline;
}

a.nagios {
padding-left:14px;
text-decoration: none;
background: url(../images/int2.gif) no-repeat left;
}
a.link:hover {
text-decoration: underline;
}

img {
    border: 0;
    vertical-align : top;
    }

hr {
   size: 0px;
   width: 95%;
   }

ul#Navigation {
    font-size: 0.83em;
    float: left;
    margin: 0;
    padding-left: 5;
    border: 1px solid gray;
  }


ul#Navigation li {
    list-style: none;
    margin: 0;
    padding: 2px;
  }


div#Inhalt {
	border: none;
	/*
    border-bottom-color : silver;
    border-bottom-style : dashed;
    border-bottom-width : 1px;
    border-left-color : silver;
    border-left-style : dashed;
    border-left-width : 1px;
    border-right-color : silver;
    border-right-style : dashed;
    border-right-width : 1px;
    border-top-color : silver;
    border-top-style : dashed;
    border-top-width : 1px;
	*/
    margin-bottom : 0;
    margin-left : 0px;
    margin-right : 0px;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 6px;
    padding-right : 6px;
    padding-top : 6px;
  }
div.mg {
	border: none;
	/*
    border-bottom-color : silver;
    border-bottom-style : dashed;
    border-bottom-width : 1px;
    border-left-color : silver;
    border-left-style : dashed;
    border-left-width : 1px;
    border-right-color : silver;
    border-right-style : dashed;
    border-right-width : 1px;
    border-top-color : silver;
    border-top-style : dashed;
    border-top-width : 1px;
	*/
    margin-bottom : 0;
    margin-left : 0px;
    margin-right : 0px;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
  }

td {
    border-style: solid;
    border-color: #dee7ec;
    border-width: 0px;
}

h1,h2 {
    font-weight:normal;
    color:#000000;
}
h1 {
    font-size: 1.2em;
    margin: 0 0 0 0;
  }


h2 {
    font-size: 1.01em;
    margin: 10px 0 10px 0 ;
  }

p {
    margin-bottom : 6px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 6px;
  }
 
