#device-map-widget{font-size:12px;color:#3a5160;margin:15px;}
#device-map-widget dt{clear:both}
#device-map-widget dt,#device-map-widget dd{margin-bottom:6px;float:left}
#device-map-widget #localLbl{margin:10px 50px 0 15px}
#device-map-widget #lnkWrapper{margin-top:10px}
#device-map-widget #divButton{width:100%;text-align:center;clear:left}
#device-map-widget #btnAddDevice span.truncate-text{display:inline-block;width:100px}
#device-map-widget #dlStats,#device-map-widget #dlBands{float:left}
#device-map-widget #dlStats{width:180px}
#device-map-widget #dlBands{margin-top:10px;}
#device-map-widget #dlBands dt{margin-right:10px}
#device-map-widget #dlBands dd{margin-top:3px}
#device-map-widget #wirelessTwo,#device-map-widget #wirelessFive{margin-top:-5px;width:38px;height:35px}
#device-map-widget #wirelessTwo{background:transparent url("/ui/1.0.99.201002/static/cache/images/network_map/2_4_ghz_icons.png") -152px 0 no-repeat}
#device-map-widget #wirelessFive{background:transparent url("/ui/1.0.99.201002/static/cache/images/network_map/5_ghz_icons.png") -152px 0 no-repeat}

