div#scriptcontainer { position: relative; }
div#scriptcontainer h2 { margin-bottom: 0px; margin-top: 0px; }
div#scriptcontainer li { line-height: 15px; }

div.helpsystem_icon { float: right; text-align: center; padding: 0 10px 0 10px; top: 22px; position: relative; }
div.helpsystem_icon:first-of-type { padding-right:20px; }
.helpsystem_title { position: relative; top: -30px; width: 80%; font-size: 15px; font-weight: bold; }

#helpsystem_thumbnails { float: left; }
.helpsystem_thumbnail { float: left; text-align: center; padding: 2px; margin: 2px; width: 120px; min-height: 120px; }

#helpsystem_video { display: none; top: 30px; text-align: center; margin-left: auto; margin-right: auto; }
#helpsystem_video iframe { margin: 0 auto; }
#helpsystem_video p { font-weight: bold; }
#helpsystem_video div { float: left; bottom: 0; }

#helpsystem_resources { float: left; }
