#parentalcontrols-applet #shield-tagline{max-width:100%}
#parentalcontrols-applet #blocked{font-size:14px;}
#parentalcontrols-applet #blocked legend{color:#3a5065;font-size:28px;font-weight:bold}
#parentalcontrols-applet #blocked #blocked-image{margin-left:100px;float:left}
#parentalcontrols-applet #blocked #blocked-instructions{text-align:center;width:400px;padding-left:25px;padding-top:15px;}
#parentalcontrols-applet #blocked #blocked-instructions #download-apps{width:455px;margin-top:45px}
#parentalcontrols-applet #blocked #blocked-instructions #ios-app{float:left}
#parentalcontrols-applet #blocked #blocked-instructions .store-badge{margin-top:50px}
#parentalcontrols-applet ul#blockRadios > li{line-height:17px;padding-bottom:5px;}
#parentalcontrols-applet ul#blockRadios > li:last-child{line-height:17px;padding-bottom:0}
#parentalcontrols-applet ul#blockRadios > li > label{display:inline;padding-right:10px;font-size:11px}
#parentalcontrols-applet fieldset ul#deviceSelection{height:200px;width:360px;overflow-y:scroll;border-color:#b1c3c7;background:#fff;padding:2px 6px;border-radius:5px;border:1px solid #b1c3c7;}
#parentalcontrols-applet fieldset ul#deviceSelection li{font-size:12px;color:#3e5765;overflow-x:hidden;text-overflow:ellipsis;cursor:pointer;white-space:nowrap;max-width:360px;line-height:30px;height:30px;vertical-align:middle;padding-left:15px;font-weight:bold;}
#parentalcontrols-applet fieldset ul#deviceSelection li:hover{background-color:#f1f5f8}
#parentalcontrols-applet fieldset ul#deviceSelection li:nth-child(even){background-color:#f8f8f8}
#parentalcontrols-applet fieldset ul#deviceSelection li.selected{background-color:#d4f0fb}
#parentalcontrols-applet a{margin-left:10px}
#parentalcontrols-applet .visualInfoWrapper{font-size:11px;padding:9px 0 0 0}
#parentalcontrols-applet .siteListContainer{padding:7px 28px 7px 9px;height:13px;margin:1px 1px 1px -7px;display:inline-block;}
#parentalcontrols-applet .siteListContainer:hover{background:rgba(187,216,234,0.70);opacity:.9;color:#707070;padding:6px 7px 7px 9px}
#parentalcontrols-applet .visualInfoRemove{padding:0 14px 0 0;position:relative;top:2px;margin-left:7px;display:none;background:transparent url("/ui/1.0.99.201002/static/cache/applets/parental_controls/images/delete.png") no-repeat scroll 0 0;}
#parentalcontrols-applet .visualInfoRemove:hover{background:transparent url("/ui/1.0.99.201002/static/cache/applets/parental_controls/images/delete.png") no-repeat scroll -14px 0}
#parentalcontrols-applet .altcolor{background-color:#f3f6fa}
#parentalcontrols-applet .urllist{padding:5px 10px;font-weight:bold}
html.IE #parentalcontrols-applet .position-absolute{position:absolute}
html[dir="rtl"] #parentalcontrols-applet fieldset.left{float:right}
html[dir="rtl"] #parentalcontrols-applet #blocked #blocked-image{margin-left:0;margin-right:100px;float:right}
html[dir="rtl"] #parentalcontrols-applet #blocked #blocked-instructions{padding-left:0;padding-right:25px;}
html[dir="rtl"] #parentalcontrols-applet #blocked #blocked-instructions #ios-app{float:right}
html[dir="rtl"] #parentalcontrols-applet .siteListContainer{padding:7px 9px 7px 28px;margin:1px -7px 1px 1px}
html[dir="rtl"] #parentalcontrols-applet .siteListContainer:hover{padding:6px 9px 7px 0}
html[dir="rtl"] #parentalcontrols-applet .visualInfoRemove{padding:0 0 0 14px;margin-right:7px;display:none}

