#parental-controls.widget{font-size:12px;color:#3a5160;margin:15px;}
#parental-controls.widget a.disabled{cursor:default;color:#c8d5db}
#parental-controls.widget li{height:19px;max-width:185px;white-space:nowrap;overflow-x:hidden;text-overflow:ellipsis;line-height:19px;margin-top:5px}
#parental-controls.widget dl{width:100%}
#parental-controls.widget dt{padding:0;margin:0;clear:left;float:left;display:block;}
#parental-controls.widget dt.main{padding-top:8px;max-width:175px}
#parental-controls.widget dd{float:right}
#parental-controls.widget .small-icon .device-icon{padding:2px 10px;position:relative;top:-1px}
#parental-controls.widget .pcDeviceName{margin-left:5px}
#parental-controls.widget #dlStats.disabled{cursor:default;color:#979c9e}
#parental-controls.widget #on-state,#parental-controls.widget #off-state,#parental-controls.widget #pcDevicesList{display:none}
#parental-controls.widget #pcDevicesList{float:left;width:100%}
#parental-controls.widget #pcDevicesNone{clear:left;text-align:center;margin-top:15px;color:#979c9e}

