/* NXTI CSS for Widget */
.nxtiWidget {color: #111;}
.nxtiWidget:hover {color: #777;	text-decoration: none;}
.nxtiSquashedButtonsLeft {border-width: 1px; border-style: solid; border-color: #ccc; height: 29px; padding: 5px 5px;}
.nxtiSquashedButtonsRight {border-left: 0px solid #ccc;}
.nxtiSquashedButtonsRight:focus { border-left: 0px solid #ccc;}
.form-control.nxtiSquashedButtonsRight:focus { border-left: 0px solid #ccc;}
.default-populator {vertical-align: top;}
.nowrap {white-space: nowrap;}