#blockInternetAccessNet{color:#3b5264;position:relative;}
#blockInternetAccessNet table .legend{margin:7px 3px;}
#blockInternetAccessNet table .legend tr td div{margin:3px 0 0 5px}
#blockInternetAccessNet table .legend td{padding-right:5px;display:inline-table;}
#blockInternetAccessNet tr td .sun-icon,#blockInternetAccessNet tr td .moon-icon{width:14px;height:14px;margin:8px 0 4px 8px !important}
#blockInternetAccessNet .sun-icon{background:transparent url("/ui/1.0.99.201002/static/cache/images/sun_icon.png") left top no-repeat}
#blockInternetAccessNet .moon-icon{background:transparent url("/ui/1.0.99.201002/static/cache/images/moon_icon.png") left top no-repeat}
#blockInternetAccessNet .checked{background-color:#193d55;border-left-color:#163549;}
#blockInternetAccessNet .checked:hover{background-color:#365a72}
#blockInternetAccessNet .unchecked{background-color:#fff;}
#blockInternetAccessNet .unchecked:hover{background-color:#f0f4f7}
#blockInternetAccessNet .dialog-main table{position:relative}
#blockInternetAccessNet .dialog-header legend{width:574px;font-size:32px;height:40px;line-height:40px;font-weight:normal;margin:0;color:#000;-webkit-mask-image:-webkit-gradient(linear,left top,left bottom,from(#000),to(rgba(0,0,0,0.40)))}
#blockInternetAccessNet div.Selection{border-color:#f00;border-style:dashed;border-width:1px;background-color:transparent;position:absolute;visibility:hidden;width:0;height:0;left:0;top:0;z-index:999}
#tableBlockAccess{position:relative;white-space:nowrap;-ms-touch-action:none;}
#tableBlockAccess h2{color:#58595b;font-size:12px;font-weight:bold;margin:10px 0 9px}
#tableBlockAccess tr td{width:20px;height:18px;}
#tableBlockAccess tr td:first-child{padding-right:20px}
#tableBlockAccess tr td.checked{border:solid 1px #163549}
#tableBlockAccess tr td.unchecked{border:solid 1px #e3ebf0}
#tableBlockAccess tr.header td{text-align:center;vertical-align:bottom;}
#tableBlockAccess tr.header td div{border:none;position:relative}
#tableBlockAccess tr.header td .ampm{font-size:10px}
#tableBlockAccess tr:nth-child(1){width:inherit;}
#tableBlockAccess tr:nth-child(1) td *{padding:0;margin:0}
#tableBlockAccess .currentTime{float:right;margin-top:7px}
#tableBlockAccess .legend{float:left}
html[dir="rtl"] #tableBlockAccess tr td:first-child{padding-right:0;padding-left:20px}
html[dir="rtl"] #tableBlockAccess tr td .sun-icon,html[dir="rtl"] #tableBlockAccess tr td .moon-icon{margin:8px 8px 4px 0 !important}
html[dir="rtl"] #tableBlockAccess .legend{float:right;}
html[dir="rtl"] #tableBlockAccess .legend tr td div{margin:3px 5px 0 0}
html[dir="rtl"] #tableBlockAccess .currentTime{float:left}

