.disconnect-warning-dialog{width:520px;}
.disconnect-warning-dialog table{width:100%;word-wrap:break-word;word-break:break-all}
.disconnect-warning-dialog .disconnect-warning-wireless{border-width:1px;border-color:#000;border-style:solid;border-collapse:separate;padding:5px;margin-top:4px}
.disconnect-warning-dialog .warning-text{color:#f00;font-weight:bold}
#dhcp-reservations-dialog{width:712px;}
#dhcp-reservations-dialog .ip-input.short-labels label{padding-right:5px}
#dhcp-reservations-dialog #add-reservation,#dhcp-reservations-dialog #add-device{margin:15px 0;float:right}
#dhcp-reservations-dialog #devices-list{margin-top:10px;}
#dhcp-reservations-dialog #devices-list + div{display:block}
#dhcp-reservations-dialog #devices-list th:first-child,#dhcp-reservations-dialog #devices-list td:first-child{min-width:178px;max-width:178px}
#dhcp-reservations-dialog #devices-list th:first-child + th,#dhcp-reservations-dialog #devices-list td:first-child + td{min-width:105px;max-width:105px}
#dhcp-reservations-dialog #devices-list th:first-child + th + th,#dhcp-reservations-dialog #devices-list td:first-child + td + td{min-width:145px;max-width:145px}
#dhcp-reservations-dialog #devices-list th:first-child + th + th + th,#dhcp-reservations-dialog #devices-list td:first-child + td + td + td{min-width:136px;max-width:136px}
#dhcp-reservations-dialog #reservation-list th:first-child,#dhcp-reservations-dialog #reservation-list td:first-child{min-width:177px;max-width:177px}
#dhcp-reservations-dialog #reservation-list th:first-child + th,#dhcp-reservations-dialog #reservation-list td:first-child + td{min-width:172px;max-width:172px}
#dhcp-reservations-dialog #reservation-list th:first-child + th + th,#dhcp-reservations-dialog #reservation-list td:first-child + td + td{min-width:177px;max-width:177px}
#dhcp-reservations-dialog #reservation-list th:first-child + th + th + th,#dhcp-reservations-dialog #reservation-list td:first-child + td + td + td{min-width:122px;max-width:122px}
#velop-overlay{position:absolute;top:50px;width:100%;height:560px;z-index:1}
html[dir="rtl"] #dhcp-reserve #add-reservation,html[dir="rtl"] #dhcp-reserve #add-device{float:left}

