html.IE8 #main-menu > li > ul > li:hover {
      background-color: transparent;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#20ffffff, endColorstr=#20ffffff,GradientType=0);
  }
  html.IE8 div.dialog-overlay {
      background-color: black;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  }
  body.applet-view #main-menu > li > h2 {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
  }
  html.IE8 #widget-shield {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  html.IE8 #widget-container div.widget.drag {
      filter: alpha(opacity=50);
  }
  html.IE8 body.applet-view .widget {
      visibility: hidden;
  }
html.IE #nav-home{display:none}
body > header div.content{height:72px;cursor:pointer;width:100%;padding-right:90px;margin:0}
body > header div.content > ul{height:auto;right:120px;width:290px;top:-10px}
html.IE body.applet-view #nav-home{display:inline-block}
html.IE #nav-cliff{top:-150px}
html.IE8 body > #scroll-container > header div.content > ul > li.menu-children,html.IE9 body > #scroll-container > header div.content > ul > li.menu-children{visibility:visible;display:block;border:none;color:#d0d5d8 !important;overflow:visible;display:block;margin:0 0 0 30px;line-height:15px;margin-top:0;z-index:10;background:transparent;background:url("/ui/1.0.99.201002/static/cache/images/topnav/arrow-down.png") right 20px no-repeat}
html.IE8 body > #scroll-container > header div.content > ul > li.menu-children:hover,html.IE9 body > #scroll-container > header div.content > ul > li.menu-children:hover{cursor:default;background:#135788 url("/ui/1.0.99.201002/static/cache/images/topnav/arrow-down.png") no-repeat right 20px}
html.IE8 body > #scroll-container > header div.content > ul > li > ul > li,html.IE9 body > #scroll-container > header div.content > ul > li > ul > li{visibility:hidden;display:block;border-top:solid #fff 1px;background:#fff;color:#495d6b;padding:5px 10px;margin:0;border-bottom:solid 1px #aaa;padding:0 15px;margin:0;line-height:27px;margin-top:-40px;z-index:-1}
html.IE8 body > #scroll-container > header div.content > ul > li.menu-children:hover > ul > li,html.IE9 body > #scroll-container > header div.content > ul > li.menu-children:hover > ul > li{visibility:visible;display:block;margin-top:0;color:#495d6b;border-bottom:1px solid #aaa;cursor:pointer}
html.IE8 body > #scroll-container > header div.content > ul > li > ul > li:hover,html.IE9 body > #scroll-container > header div.content > ul > li > ul > li:hover{background:#d3f0fa}
html.IE8 body.local-origin.embedded-ui-available > #scroll-container > header div.content > ul > li.menu-children,html.IE9 body.local-origin.embedded-ui-available > #scroll-container > header div.content > ul > li.menu-children{color:#165079 !important}
html[dir="rtl"] li.place-holder label,html[dir="rtl"] li.place-holder input:focus + label{left:0}
html.IE8[dir="rtl"] body.local-origin.embedded-ui-available > #scroll-container > header div.content > ul > li.menu-zero-children:hover,html.IE9[dir="rtl"] body.local-origin.embedded-ui-available > #scroll-container > header div.content > ul > li.menu-zero-children:hover,html.IE8[dir="rtl"] body.local-origin.embedded-ui-available > #scroll-container > header div.content > ul > li.menu-zero-children.hover,html.IE9[dir="rtl"] body.local-origin.embedded-ui-available > #scroll-container > header div.content > ul > li.menu-zero-children.hover,html.IE8[dir="rtl"] body.local-origin.embedded-ui-available > #scroll-container > header div.content > ul > li.menu-children:hover,html.IE9[dir="rtl"] body.local-origin.embedded-ui-available > #scroll-container > header div.content > ul > li.menu-children:hover,html.IE8[dir="rtl"] body.local-origin.embedded-ui-available > #scroll-container > header div.content > ul > li.menu-children.hover,html.IE9[dir="rtl"] body.local-origin.embedded-ui-available > #scroll-container > header div.content > ul > li.menu-children.hover{background-position:left 20px}
html.IE8[dir="rtl"] body > #scroll-container > header div.content > ul > li.menu-children,html.IE9[dir="rtl"] body > #scroll-container > header div.content > ul > li.menu-children{margin-left:inherit;margin-right:30px;padding-left:30px;padding-right:10px;background-position:left 20px}
html.IE UL#blockRadios{line-height:18px}
html.IE UL#blockRadios input[type=radio]{background:0 none}
html.IE input[type=checkbox].switch{background:0 none}
html.IE .form fieldset:hover,html.IE .form fieldset{display:block}
html.IE .form fieldset .row{display:block;clear:both;padding-top:0;padding-bottom:4px}
html.IE .form fieldset .row > label,html.IE .form fieldset .row > input,html.IE .form fieldset .row > div,html.IE .form fieldset .row > span{display:block;clear:none;float:left}
html.IE .form fieldset .row > .input[type=checkbox]{width:140px;margin:0}
html.IE .form fieldset .row > label,html.IE .form fieldset .row > div.cell{line-height:14px;float:left}
html.IE .form fieldset .row > div.cell{float:left;padding:0 5px 3px 0}
html.IE .form fieldset .row .cell input[type=checkbox]{margin:6px 5px 0 0;float:none;display:inline-block}
html.IE .form fieldset div.row > div.cell > label{margin:8px 5px 17px 0;float:none;display:inline-block}
html.IE .form fieldset .row.toggle-edit > :first-child{padding-left:10px}
html.IE .form fieldset .row.toggle-edit > :first-child + *{display:block;float:left}
html.IE .form fieldset .row.toggle-edit > :first-child + * + *{display:none}
html.IE .form fieldset .block-row{clear:both}
html.IE .form fieldset .row > :first-child + div.cell{max-width:80%}
html.IE8 .form div.form-header,html.IE8 .form div.form-body,html.IE8 .form fieldset{background-color:#eff3f5}
html.IE8 #applet-container article section{background-color:#e7eef2;background-image:none}
html.IE .form fieldset.edit .row.toggle-edit > :first-child + *{display:none}
html.IE .form fieldset.edit .row.toggle-edit > :first-child + * + *{display:inline-block}
html.IE input[type="checkbox"]{background:none}
html.IE input[type="radio"]{background:none}
html.IE table.applet-datagrid thead{font-weight:normal}
html.IE .file-input{position:relative;display:inline-block;overflow:hidden}
html.IE .file-input > input{position:absolute;font-size:70px;opacity:0;filter:alpha(opacity=0);filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';top:-30px;left:-235px;cursor:pointer}
html.IE8 .file-input > input{left:-256px}
html.IE #change-password-form{width:380px}
html.IE .row .cell p{float:none;clear:left;margin:0 0 5px 0;display:block}
html.IE .form fieldset.tight .row > .cell > p label,html.IE .form fieldset.tight .row > .cell > *{margin-bottom:4px}
html.IE #filter-options{width:380px}
.form fieldset div.row > div.cell select{padding:3px}
html.IE8 div.check-item{width:95%}
html.IE8 .form div.cell div.check-item{width:150px;padding-top:0;margin-top:0}

