html,body,#scroll-container,div.dialog-container{width:1024px;min-width:1024px;min-height:1024px;overflow:visible;}
body{overflow:visible}
#scroll-container{position:relative}
div.dialog-overlay{position:absolute;min-height:1050px;overflow:visible;padding-bottom:150px;}
div.dialog-overlay.hidden{display:none}
div.dialog-container{position:absolute;margin-top:-100px;min-height:1024px}
div.dialog{padding-bottom:150px}
body.applet-view.help-dialog #main,body.applet-view.generic-dialog #main,body.applet-view.error-dialog #main{position:absolute}
body.applet-view.help-dialog div.dialog-container,body.applet-view.generic-dialog div.dialog-container,body.applet-view.error-dialog div.dialog-container{margin-top:0}
#help-menu-dialog.dialog.help .dialog-content > div{max-height:none;overflow-y:auto}
#help-menu-dialog.dialog.help nav{max-height:none;overflow-y:auto}
#main-copyright{position:relative;bottom:-70px}

