article.createAccount-wrapper #account-box-container{padding:15px;margin-left:10px}
header div.content ul li button{margin:10px 0 0 0}
h2.checkmark{min-height:34px;line-height:1.2em;padding-left:42px;padding-top:7px;margin-bottom:7px;margin-left:-3px;background:transparent url("/ui/1.0.99.201002/static/cache/images/checkmark.png") left center no-repeat}
p{line-height:16px;padding:0 0 8px 0}
div p:last-child{padding:0;margin-bottom:0}
#account-main-content{border-top:1px solid #fff;}
#account-main-content a{text-decoration:underline}
#account-main-content div.lt-content{width:485px;height:500px;}
#account-main-content div.lt-content ul{padding:15px 0 0 15px}
#account-main-content div.lt-content li{list-style:disc;margin:8px 0 0 0;font-size:12px;font-weight:bold}
#account-main-content div.lt-content.login-content div.offline-content{margin:0;}
#account-main-content div.lt-content.login-content div.offline-content p{width:410px;padding-bottom:20px;line-height:20px;line-height:20px;font-weight:normal;font-size:11px;font-family:Helvetica,Arial;color:#808184;}
#account-main-content div.lt-content.login-content div.offline-content p em{font-weight:bold;font-size:11px;font-family:Helvetica,Arial;color:#5d5d5f}
#account-main-content div.rt-content ul li{margin-bottom:10px}
#account-main-content div.rt-content .passwordHintSection{display:none}
#account-main-content div.rt-content .hidePasswordHint a{color:#979c9e}
#account-main-content div.rt-content .hidePasswordHint p{line-height:20px;font-size:13px;color:#3a5160}
#account-main-content div.rt-content .login-actions{margin-top:15px;width:100%;}
#account-main-content div.rt-content .login-actions .offline-content{margin-top:8px}
#account-main-content div.rt-content .login-actions a{margin-left:5px;text-align:right;display:block}
#account-main-content div.rt-content button{min-width:100px}
#account-main-content div.rt-content #account-fields-container button{min-width:175px}
#account-main-content div.rt-content #account-fields-container p{color:#3b5264;font-weight:normal}
#account-main-content div.rt-content #account-fields-container #password-reset-container button{min-width:100px}
#account-main-content h2{font-size:20px;font-weight:normal;color:#3c515e;margin:0 0 16px 0}
#account-main-content .login-container #remember-me-container{display:inline-block;}
#account-main-content .login-container #remember-me-container div:first-child{float:left}
#account-main-content .login-container #remember-me-container div:first-child + div{float:right}
#account-main-content #lock-picture-container{width:300px;height:450px}
#account-main-content #unsecure-bubble{width:678px;margin:30px;}
#account-main-content #unsecure-bubble #continue{margin-top:30px;margin-bottom:50px}
#account-main-content #unsecure-bubble #configure-block{margin-top:80px}
#account-main-content #unsecure-bubble #configure-router{margin-right:30px}
#account-main-content #language-select{margin-top:30px;float:right}
.agent-account #nav-container nav{min-height:250px}
.agent-account #widget-container{height:auto}
.agent-account .login-container{padding:0;margin-left:0;border:none;background:none}
.agent-account #account-main-content #language-select{float:none;margin-top:60px}
.agent-account #applet-container > article > header{height:auto;}
.agent-account #applet-container > article > header h1{max-width:100%}
#error-dialog{width:300px}
#error-dialog-content{color:#000}
#account-container.login-wrapper{height:auto;overflow:hidden}
#recovery-pin #pinContainer{min-height:210px;position:relative;padding-bottom:55px;}
#recovery-pin #pinContainer label{display:inline-block}
#recovery-pin #pinContainer .login-actions{margin-top:0;position:absolute;bottom:20px;left:20px}
#linksys-app .left{width:305px;}
#linksys-app .left img{position:relative;z-index:2;}
#linksys-app .left img + img{left:-37px;top:-27px;z-index:1}
#linksys-app .right{width:179px;margin-top:105px;}
#linksys-app .right a{display:block;margin-bottom:22px}
#change-admin-password textarea{width:240px}
.language-select{width:331px;margin-left:20px;padding:0 4px}
.login-container{width:295px;margin-left:20px;padding:20px;border:1px solid #97a6af;border-radius:5px;background:#f1f5f8}
#account-container.createAccount-wrapper{height:auto}
#account-box-container{width:310px;padding:20px;border:1px solid #97a6af;border-radius:5px;background:#f1f5f8;}
#account-box-container + .language-select{padding-bottom:5px}
#account-box-container h2.infoMark{font-size:13px;line-height:19px;padding-left:32px;padding-top:4px;padding-bottom:3px;margin-top:7px;margin-bottom:7px;margin-left:-3px;background:transparent url("/ui/1.0.99.201002/static/cache/images/info24.png") left center no-repeat}
#account-box-container h2 a{font-size:13px}
#account-create-success,#password-reset-sent,#password-reset-verify-container,#validateAccount_complete,#validateAccount_repeat,.reset-step1,.reset-step1-result,.reset-step2{display:none}
#password-reset-sent > img{float:left;padding-right:10px}
html.IE #account-main-content div.lt-content.login-content div.offline-content p em{font-weight:bold}
html.small-window article header.account-header{border-bottom:none !important}
html.small-window article section{border-top:none}
html.small-window header.account-header{padding:15px 15px 10px 15px !important;min-height:0}
html.small-window div.attention{margin-top:0;background-position:15px 2px !important}
html.small-window .lt-content{width:250px;background-color:#e0eaf1}
html.small-window #account-main-content{background:none;}
html.small-window #account-main-content #language-select{margin:15px 0}
html.small-window #applet-container h1{font-size:22px;-webkit-text-fill-color:#001b2d}
html.small-window #applet-container h1.attention{padding-top:18px;margin-bottom:10px;font-size:16px;line-height:20px;min-height:40px}
html.small-window #applet-container > article > header,html.small-window #applet-container > article > section,html.small-window #applet-container > article > footer{width:400px;padding:15px}
html.small-window #applet-container > article > section{min-height:60px;width:410px;border-top:none;padding:10px}
html.small-window #main{top:65px}
html.small-window article,html.small-window #applet-container{width:470px !important;z-index:100}
html.small-window > #scroll-container > header #header-bg-main{display:none}
html.small-window > #scroll-container > header .content > ul{margin:0 5px}
html.small-window #scroll-container > header{width:100%;right:0;margin:0;padding:0;height:55px;}
html.small-window #scroll-container > header div.content{width:100%;height:50px;background-image:none !important;background-color:#023558 !important}
html.small-window #scroll-container > header div.logo{height:58px}
#widget-container{height:670px;opacity:1;filter:alpha(opacity=1);filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)'}
#applet-container .account-header-allow-overflow{height:auto;min-height:76px;}
#applet-container .account-header-allow-overflow h1,#applet-container .account-header-allow-overflow h4{max-width:none}
body.embedded-ui-available.connection-local.online-mode #account-main-content .login-container .offline-content,body.embedded-ui-available.connection-local.online-mode header .offline-content,body.non-cloud-router.connection-local.online-mode header .offline-content,body.embedded-ui-available.connection-local.online-mode #cloud-access,body.embedded-ui-available.connection-remote.online-mode #local-access,body.non-cloud-router.connection-local.online-mode #account-main-content .login-container .offline-content,body.non-cloud-router.connection-local.online-mode header .offline-content{display:block !important}
body.embedded-ui-available.connection-local.online-mode #account-main-content .login-container .online-content,body.embedded-ui-available.connection-local.online-mode header .online-content,body.non-cloud-router.connection-local.online-mode header .online-content,body.non-cloud-router.connection-local.online-mode #account-main-content .login-container .online-content{display:none !important}
#change-password-container{border-radius:5px;border:1px solid #97a6af;background:#f1f5f8;width:460px;padding:40px;}
#change-password-container .row{margin-top:20px}
#change-password-container #okButton{margin-right:20px}
html[dir="rtl"] .language-select,html[dir="rtl"] .login-container{margin-left:0;margin-right:20px}
html[dir="rtl"] #account-main-content #language-select{float:left}
html[dir="rtl"] #account-main-content .login-container #remember-me-container div:first-child{float:right}
html[dir="rtl"] #account-main-content .login-container #remember-me-container div:first-child + div{float:left}
html[dir="rtl"] #password-reset-sent > img{float:right;padding-right:0;padding-left:10px}
html[dir="rtl"] .agent-account #account-main-content #language-select{float:right}
html[dir="rtl"] #account-main-content div.rt-content .login-actions a{text-align:left;margin-left:0;margin-right:5px}
html[dir="rtl"] #recovery-pin #pinContainer .login-actions{left:auto;right:20px}
html[dir="rtl"] #linksys-app .left img + img{left:auto;right:-37px}

