#global-balloon{display:none;position:absolute;overflow:visible;font-size:12px;color:#001b2d;white-space:normal;margin-top:-9px;padding:11px 7px 9px 8px;min-width:100px;line-height:12px;border:1px solid #a0b1bc;z-index:200;background-color:#fafdfe;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 0 12px 6px rgba(0,0,0,0.15);-moz-box-shadow:0 0 12px 6px rgba(0,0,0,0.15);-ms-box-shadow:0 0 12px 6px rgba(0,0,0,0.15);-o-box-shadow:0 0 12px 6px rgba(0,0,0,0.15);box-shadow:0 0 12px 6px rgba(0,0,0,0.15);}
#global-balloon.up > .tip{margin-top:-17px}
#global-balloon.down > .tip{margin-bottom:-6px}
#global-balloon.left > .tip{margin-left:-6px}
#global-balloon.right > .tip{margin-right:-6px}
.balloon > .tip{position:absolute}
.balloon.up > .tip,.balloon.down > .tip{left:50%;width:11px;height:6px;margin-left:-5px}
.balloon.left > .tip,.balloon.right > .tip{top:50%;width:6px;height:11px;margin-top:-5px}
.balloon.up > .tip{top:0;margin-top:-6px;background:transparent url("/ui/1.0.99.201002/static/cache/images/tooltip/arrow-up.png") top left no-repeat}
.balloon.down > .tip{bottom:0;margin-bottom:-6px;background:transparent url("/ui/1.0.99.201002/static/cache/images/tooltip/arrow-down.png") top left no-repeat}
.balloon.left > .tip{left:0;margin-left:-6px;background:transparent url("/ui/1.0.99.201002/static/cache/images/tooltip/arrow-left.png") top left no-repeat}
.balloon.right > .tip{right:0;margin-right:-6px;background:transparent url("/ui/1.0.99.201002/static/cache/images/tooltip/arrow-right.png") top left no-repeat}
.balloon div.flow{white-space:normal;overflow:hidden;width:175px;clear:both;padding:9px 9px 6px 9px;background-color:#fafdfe}
.balloon span.icon{padding-left:16px;line-height:20px}
.balloon span.icon,.balloon span.warning{float:left;width:16px;height:14px;margin:0 3px 0 0;padding:0;display:inline-block}
.balloon div.suggested span.icon,.balloon div.required span.icon{background:url("/ui/1.0.99.201002/static/cache/images/strength.png") top left no-repeat}
.balloon div.suggested span.icon{margin-top:1px;background-position:-23px -20px}
.balloon div.required span.icon{background-position:-23px -4px}
.balloon div.suggested.isValid span.icon,.balloon div.required.isValid span.icon{padding:0;background-position:-4px -4px}
.balloon span.warning{margin:0 3px 0 0;background:url("/ui/1.0.99.201002/static/cache/images/exclamation.png") left no-repeat}
.balloon div.divider{border-top:1px solid #a5c8e9;padding:2px 0;font-size:11px;margin:4px 4px 0 2px;clear:left;width:170px}
.balloon span.comment{font-size:13px;color:#f00}
.balloon span.msg{width:154px;font-size:11px;display:inline-block;padding:1px 0 0 0;margin:0;float:right}
html.IE8 #global-balloon{padding:0;padding:11px 7px 9px 8px;overflow:visible;border:1px solid #a0b1bc;background:#fafdfe url("/ui/1.0.99.201002/static/cache/images/tooltip/shadow-ie.png") bottom left repeat-x}
html.IE8 .balloon.up > .tip,html.IE8 #global-balloon.up > .tip{margin-top:-7px;background:transparent url("/ui/1.0.99.201002/static/cache/images/tooltip/arrow-up-ie.png") top left no-repeat no-repeat}
html.IE8 .balloon.down > .tip,html.IE8 #global-balloon.down > .tip{margin-bottom:-7px;background:transparent url("/ui/1.0.99.201002/static/cache/images/tooltip/arrow-down-ie.png") top left no-repeat no-repeat}
html.IE8 .balloon.left > .tip,html.IE8 #global-balloon.left > .tip{margin-left:-7px;background:transparent url("/ui/1.0.99.201002/static/cache/images/tooltip/arrow-left-ie.png") top left no-repeat no-repeat}
html.IE8 .balloon.right > .tip,html.IE8 #global-balloon.right > .tip{margin-right:-7px;background:transparent url("/ui/1.0.99.201002/static/cache/images/tooltip/arrow-right-ie.png") top left no-repeat no-repeat}
html.IE8 .flow{background-color:#fafdfe}
html[dir="rtl"] .balloon span.icon,html[dir="rtl"] .balloon span.warning{margin:0 0 0 3px;float:right}
html[dir="rtl"] .balloon div.divider{margin:4px 2px 4px 0;clear:right}
html[dir="rtl"] .balloon span.msg{float:left}

