#velop-bg{min-height:550px;margin:0;padding:0;font-family:Helvetica,Arial,sans-serif;font-size:14px;background-color:#fff;background-image:url("/ui/1.0.99.201002/static/cache/images/velop_block/desktop/paint-bg.jpg");background-position:top left;background-size:auto 100%;background-repeat:no-repeat;}
#velop-bg .container{width:990px;max-width:100%;margin:0 auto;color:#161616;line-height:1.5}
#velop-bg .content{padding-top:6em;}
#velop-bg .content #mobile-images{padding:0}
#velop-bg .content img{vertical-align:middle;}
#velop-bg .content img.logo{margin:0 auto;display:block;width:200px}
#velop-bg .content img#phone-1{z-index:1;position:relative;width:51%;left:3rem}
#velop-bg .content img#phone-2{z-index:0;position:relative;width:46%;left:-1.3em}
#velop-bg .content h1,#velop-bg .content h2,#velop-bg .content h3{font-weight:200;line-height:1.5;color:#161616}
#velop-bg .content h1{font-size:2.2em;}
#velop-bg .content h1.app-icons img{width:115px}
#velop-bg .content h1.app-icons a{display:inline-block;margin-right:.6em}
#velop-bg .content h1.heading,#velop-bg .content .app-icons{margin-top:1em;margin-bottom:0}
#velop-bg .content h2{font-size:1.5em;}
#velop-bg .content h2.configured-block a,#velop-bg .content h2.configured-block a:focus,#velop-bg .content h2.configured-block a:hover{color:#068bcc}
#velop-bg .content h2.intro{margin-top:0;}
#velop-bg .content h2.intro a,#velop-bg .content h2.intro a:focus,#velop-bg .content h2.intro a:hover{font-weight:600;font-size:1em;color:#000;text-decoration:none}
#velop-bg .content h2.intro a:hover{text-decoration:underline}
#velop-bg .content .spacer{margin-top:2em;margin-bottom:1.5em}
#velop-bg .content #logo{margin-top:2em}
#velop-bg .content a#logo{color:#fff;font-size:1.75em;letter-spacing:.1em}
#connectivity-applet #velop-simpleSetup #ssidInputValidation table,#connectivity-applet #velop-simpleSetup #passwordInputValidation table{width:175px}
#connectivity-applet #velop-simpleSetup #ssidInputValidation td,#connectivity-applet #velop-simpleSetup #passwordInputValidation td{width:75px}
#connectivity-applet #velop-simpleSetup #ssidInputValidation td + td,#connectivity-applet #velop-simpleSetup #passwordInputValidation td + td{width:100px}
#connectivity-applet #velop-simpleSetup .txt-right{text-align:right}
#connectivity-applet #velop-simpleSetup .unconfigured-block,#connectivity-applet #velop-simpleSetup .configured-block,#connectivity-applet #velop-simpleSetup .ssid-block,#connectivity-applet #velop-simpleSetup .done-block{font-weight:600}
#connectivity-applet #velop-simpleSetup #startOnboarding,#connectivity-applet #velop-simpleSetup #startBTOnboarding,#connectivity-applet #velop-simpleSetup #stopOnboarding{width:200px}
#connectivity-applet #velop-simpleSetup .inputValidationBox .inputValidationErrorImage,#connectivity-applet #velop-simpleSetup .inputValidationBox .inputValidationErrorMessage,#connectivity-applet #velop-simpleSetup .inputValidationBox.inputError .inputValidationMessage,#connectivity-applet #velop-simpleSetup .inputValidationBox.inputError.showInputValidationMessage .inputValidationErrorMessage{display:none}
#connectivity-applet #velop-simpleSetup .inputValidationBox .inputValidationErrorImage img{vertical-align:top}
#connectivity-applet #velop-simpleSetup .inputValidationBox.inputError{color:Red}
#connectivity-applet #velop-simpleSetup .inputValidationBox.inputError .inputValidationErrorImage{display:inline}
#connectivity-applet #velop-simpleSetup .inputValidationBox.inputError .inputValidationErrorMessage,#connectivity-applet #velop-simpleSetup .inputValidationBox.inputError.showInputValidationMessage .inputValidationMessage{display:inline}
#connectivity-applet #velop-simpleSetup #ssidInputValidation table.inputValidationBox td,#connectivity-applet #velop-simpleSetup #passwordInputValidation table.inputValidationBox td{width:auto}

