#main { padding: 0; margin: 0; }

.ccmButton:hover { background-color: #EEE; text-decoration: none; }
#saveButton { display: none; }
.bulk_wizard { margin-bottom: 20px; }
#bulk_stage1 div { margin-bottom: 15px; }
#listings_table { width: 95%; text-align: center; margin-bottom: 10px; }
input.td { width: 95%; }
.container { margin: 10px; }
.td_hostlist { text-align: left; }
#actionSearch { margin-bottom: 10px; }
#selected { min-width: 350px; }
#prompt { margin-bottom: 20px; }
div#contentWrapper input#abort { display: none; }
.inline { display: inline-block; margin: 0 auto; }
a.ccmButton:hover, button.ccmButton:hover { color: #005580; }

.bulk_wizard h4 { margin-bottom: 10px; }
.bulk_wizard .option_box { margin: 20px 0; }
.bulk_wizard .pad { padding: 10px 0 15px 0; }

#inner_config_option label { margin-right: 15px; }
#inner_config_option label input { margin: 0; vertical-align: middle; }
#inner_config_option .btn-group label {margin-right: 0;}

#timeperiod { width: 200px; }

.save-button { margin-bottom: 15px; }
.save-box { padding-top: 20px; border-top: 1px solid #EEE; }

.multiselect { min-width: 200px; min-height: 140px; }
.button-box { margin-top: 10px; }

.opts-box { padding: 5px 0 10px 0; }
.opts-box label { margin-right: 8px; line-height: 20px; }
.opts-box label input { vertical-align: middle; }

/* Added overlay styles */
.th-remove { width: 90px; }
.filter-box { padding-bottom: 10px; }

#fullcommand { display: inline-block; margin-top: 15px; }
.arg-box { padding: 10px 0; }
.arg-box div { padding-top: 5px; }
.arg-box input[type="text"] { width: 500px; }
.arg-box .no-rb { border-right: 0; }

.alert .fa { font-size: 12px; }
#error { text-align: center; }
#error .alert { padding: 8px 14px; }
#error .info { padding: 25px 0; font-size: 22px; color: #EEE; text-align: center; }

div#contentWrapper input[type="text"].form-control { padding: 0.75em; }
div#contentWrapper select.form-control { padding: 0.2em 0.4em; height: 29px; }
div#contentWrapper label { vertical-align: initial; }

option.disabled:before { font-family: 'FontAwesome'; content: "\f06a"; margin-right: 3px; }

.leftBox h5, .rightBox h5 { margin: 0; padding: 0; }

div#contentWrapper p.label { font-size: 10px; color: #333; font-weight: normal; display: inline-block; margin-bottom: 2px; }