/* BEGIN old main.css */

/* Fonts */

@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto-Thin.ttf');
    font-weight: 100;
}


@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto-Light.ttf');
    font-weight: 300;
}


@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: 400;
}


@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto-Black.ttf');
    font-weight: 900;
}

/* Set Gloabl Font */
html * {
    font-size: 1.5rem;
    font-family: roboto;
}

/* Color Definitions */
.white {
    background-color: #fff;
}

.white-text {
    color: #fff;
}

.green-text {
    color: #4caf50;
}

.red-text {
    color: #f44336;
}

.orange-text {
    color: #ff9800;
}

.grey-text {
    color: #8c8c8c;
}

/********************************************************************/
/************************      UI Atoms      ************************/
/********************************************************************/

/* Borders */

.green-border {
    border-left: solid 5px #4caf50;
}

.orange-border {
    border-left: solid 5px #ff9800;
}

.red-border {
    border-left: solid 5px #f44336;
}

.yellow-border {
    border-left: solid 5px #ffeb3b;
}

.black-border {
    border-left: solid 5px black;
}

.card-section-header {
    font-size: 2.4rem;
    margin: 15px 0 0px 3vw;
}

input {
    border-radius: 2px;
    border: solid 1px #ccc;
    padding: 6px;
}

.button {
    border-radius: 2px;
    background-color: #fff;
    border: none;
}

/* Cards */
.card {
    background: #fff;
    border-radius: 2px;
    display: block;
    margin: auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
    width: calc(100vw - 20px);
}

.card.xsmall {
    min-height: 70px;
}

.card.small {
    min-height: 350px;
}

.card.medium {
    min-height: 650px;
}

.card.large {
    min-height: 850px;
}

.card-actions > div:not(:last-child) {
    border-right: solid 1px #ccc;
}

.overview-card {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 30px;
    align-items: center;
}

.overview-card > h6,
.overview-card > p,
.overview-card > i,
.overview-card > span {
    color: #616161 !important;
}

/* Material Shadows */
.shadow-1 {
    box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
}

.shadow-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/* Navbar */
.navbar-xi {
    background-color: #212121 !important;
}

/* Grid Definitions */

.grid-container {
    display: grid;
}

/* Remove Anchor Styling */
a.no-style,
a.no-style:visited,
a.no-style:active {
    text-decoration: none !important;
    color: inherit;
    cursor: auto;
}

a:active > div {
    background-color: #eeeeee;
}

/* Container Definitions */

.mobile-body {
    min-height: 100vh;
    padding-top: 50px; /* Height of navbar */
    background-color: #f2f2f2;
    color: #333;
}

/* Navbar Override */

.navbar,
.navbar-fixed-top,
.navbar-collapse {
    max-height: 100vh !important; 
}

.navbar-brand {
    min-width: 225px !important;
}

.dropdown-menu > li {
    padding: 6px;
}

.navbar-brand:hover {
    color: #9d9d9d !important;
}

.popover {
    border-radius: 2px !important;
    border: none !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.popover-content {
    color: #333;
}

.help-icon {
    color: #9d9d9d;
    font-size: 2.2rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.help-icon:active,
.help-icon:hover {
    color: #9d9d9d;
}

.zero-record-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toast {
    visibility: hidden;
    min-width: 250px;
    max-width: 90vw;
    margin-left: -125px;
    text-align: center;
    background-color: #212121;
    color: white !important;
    border-radius: 2px;
    padding: 19px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 61px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.toast > p {
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-family: roboto;
}

.toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.toast.success {
    border-left: solid 4px #4caf50;
}

.toast.failure {
    border-left: solid 4px #f44336;
}

/* override dark theme */
label {
    color: #666 !important;
}

.mobile-checkbox-label {
    height: 45px;
    text-align: middle;
}

.mobile-label-interior {
    vertical-align: -17%;
    font-size: 2rem;
}

.mobile-checkbox {
    height: 30px;
    width: 30px;
    margin-right: 5px !important;
    vertical-align:middle;
}

.mobile-grid {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 61px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 61px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 61px; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 61px; opacity: 1;}
  to {top: 0; opacity: 0;}
}
/* END old main.css */

/* BEGIN old login.css */

#login-bg {
    background: #303030;
}

.login-input {
    width: 100%;
    height: 5vh;
    min-height: 30px;
    margin-bottom: 1vh;
    background-color: #FFF;
    color: rgba(0, 0, 0, 0.7);
    font-size: 2rem;
    font-family: roboto;
    font-weight: 300;
}

.login-input:active,
.login-input:focus {
    outline: none;
}

.login-input::placeholder {
    color: #AAA;
}

#login-container h1 {
    color: #FFF;
    font-family: roboto;
    font-weight: 200;
    text-align: center;
    font-size: 3.2rem;
}

#login-logo {
    height: 20vh;
    width: 20vh;
}

#login-button {
    width: 100%;
    height: 7vh;
    min-height: 30px;
    margin: auto;
    margin-top: 4vh;
    background-color: rgba(255, 255, 255, 0.9);
}

#login-button:active {
    background-color: rgba(230, 230, 230, 0.8);
}

/* Containers */
#login-container {
    display: grid;
    grid-template-columns: 65vw;
    grid-template-rows: 42vh 12vh 46vh;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#login-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* END old login.css */

/* BEGIN old home.css */

.mobile-header {
    height: 9vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgb(27, 114, 244);
    position: fixed;
    top: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.22), 0 1px 1px rgba(0,0,0,0.34);
    z-index: 999;
}

.mobile-footer {
    height: 65px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: rgb(27, 114, 244);
    box-shadow: 0px -1px 2px rgba(0,0,0,0.22), 0px -1px 1px rgba(0,0,0,0.34);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 100px;
}

.mobile-footer > grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
}

.overview-card > p {
    padding: 0;
    font-size: 1.7rem;
}

.card-icon-container {
    margin-left: 60px;
    width: 100px;
    text-align: center;
}

.card-icon-container > p {
    padding-top: 5px;
    padding-bottom: 0;
}

.card-number-container {
    width: 100px;
    text-align: center;
}

.card-number-container > h6 {
    font-size: 5rem;
    font-weight: 400;
}

/* END old home.css */

/* BEGIN old downtime.css */

.mobile-form {
    padding: 15px;
}

.mobile-form > button {
    width: 100%;
    border-radius: 2px;
    height: 45px;
    background-color: #4caf50;
    color: white;
    border: 0;
}

.form-group {

}

.form-group > label {
    display: block;
    margin-bottom: 5px;
}

.form-group > input {
    width: 100%;
    border-radius: 2px !important;
    height: 45px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 2rem;
    font-family: roboto;
    font-weight: 300;
}

.form-group > input:disabled {
    background-color: rgba(0, 0, 0, 0.1);
}

.form-group > input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.card > h1 {
    text-align: center;
}

.card-title {
    font-family: roboto;
    font-weight: 400;
}

/* END old downtime.css */

/* BEGIN old checks.css */

.check-overview-card {
    position: relative;
}

.check-overview-title {
    font-size: 2rem;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 64vw;
    margin: 10px auto 15px 10px;
}

.check-link {
    margin: 0px auto 15px 10px;
}

.problem-badge {
    position: absolute;
    top: 7px;
    right: 5px;
    border-radius: 2px;
    border: solid 1px #f44336;
    background-color: #f44336;
    max-width: 150px;
}

.problem-badge > span {
    padding: 7px;
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
}

.info-container {
    margin: 10px;
}

.card-actions {
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    margin-top: 10px;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    position: absolute;
    bottom: 0;
    width: 100%;
    grid-template-rows: 90px;
    border-top: 1px solid #ccc;
}

.card-actions > div {
    display: flex;
    word-wrap: break-work;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-actions > div > a {
    padding: 5px;
}

.card-actions > div > a > span {
    margin: auto;
    font-size: 1.1rem;
    color: rgb(27, 114, 244);
    padding: 0;
    text-decoration: none;
}

.border-right {
    border-right: 1px solid #ccc;
}

.stats {
    margin-left: 10px;
    margin-top: 15px;
    color: #616161;
    /* account for card-actions size at the bottom */
    margin-bottom: 96px; 
}

.stats > p,
.stats > span {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}

.stats > h6 {
    padding: 0;
    margin: 11px auto 2px auto;
    font-size: 1.4rem;
}

.badge {
    color: white;
    padding: 4px 8px !important;
    border-radius: 2px !important;
    font-size: 1.4rem;
    font-weight: 300 !important;
}

.badge.green {
    background-color: #4caf50;
}

.badge.yellow {
    background-color: #ffeb3b;
    color:#616161;
}

.badge.red {
    background-color: #f44336;
}

.badge.orange {
    background-color: #ff9800;
}

/* END old checks.css */