#create-new-share .select-folder-enter-directory{width:18px;height:18px;float:right;background:transparent url("/ui/1.0.99.201002/static/cache/applets/usb_storage/images/btn_into.png") top left no-repeat;}
#create-new-share .select-folder-enter-directory.hover{background-position:0 -18px}
#create-new-share .select-folder-enter-directory.active{background-position:0 -36px}
#create-new-share .select-folder-enter-directory.focus{background-position:0 -54px}
#create-new-share .select-folder-enter-directory.disabled{background-position:0 -72px}
#create-new-share #edit-user-information-title{padding-bottom:15px}
#create-new-share #create-share-name-share{height:100px;float:left}
#create-new-share #create-share-name-share-title{padding-bottom:30px}
#create-new-share #select-folder{max-width:210px;float:left;margin-right:30px;padding:15px 0 15px 0;}
#create-new-share #select-folder ul{padding-right:30px;}
#create-new-share #select-folder ul > li:last-child{padding-bottom:5px}
#create-new-share #select-folder li{width:100%;clear:both;float:left;padding-left:15px;padding-right:15px;border-bottom:1px solid #d9ddde;}
#create-new-share #select-folder li.selected{background-color:#d3f0fa}
#create-new-share #select-folder li img{float:right}
#create-new-share #select-folder li input,#create-new-share #select-folder li label{float:left}
#create-new-share #select-folder li span{float:left;margin-top:3px}
#create-new-share #select-folder li label{margin-top:2px;max-width:130px}
#create-new-share #select-folder-title{padding-right:15px}
#create-new-share #select-folder-table tbody tr > td{padding-bottom:5px}
#create-new-share #create-share-share-all{clear:both;padding-top:15px}
#create-new-share #select-folder-up-directory{width:25px;height:25px;float:right;background:transparent url("/ui/1.0.99.201002/static/cache/applets/usb_storage/images/btn_back.png") top left no-repeat;}
#create-new-share #select-folder-up-directory.hover{background-position:0 -25px}
#create-new-share #select-folder-up-directory.active{background-position:0 -50px}
#create-new-share #select-folder-up-directory.focus{background-position:0 -75px}
#create-new-share #select-folder-up-directory.disabled{background-position:0 -100px}
#select-existing-share #select-existing-share-content div.checkbox-row{padding-bottom:5px;}
#select-existing-share #select-existing-share-content div.checkbox-row label{vertical-align:middle}
#select-existing-share #select-existing-share-content div.checkbox-row span.ui-checkbox{vertical-align:middle;margin-top:5px}
#select-existing-share #create-new-share-button{width:25px;height:25px;padding-right:10px;display:inline-block;vertical-align:middle;background:transparent url("/ui/1.0.99.201002/static/cache/applets/usb_storage/images/btn_add.png") top left no-repeat;}
#select-existing-share #create-new-share-button.hover{background-position:0 -25px}
#select-existing-share #create-new-share-button.active{background-position:0 -50px}
#select-existing-share #create-new-share-button.focus{background-position:0 -75px}
#select-existing-share #create-new-share-button.disabled{background-position:0 -100px}
#select-existing-share #create-new-share-button-text{vertical-align:middle}
#user-shares-table td,#show-all-shares-table td{text-align:left;padding-left:10px;padding-right:10px;height:30px}
#show-all-shares-dialog-create-new-share-link,#user-shares #user-shares-add-share{float:right}
#user-shares-table-title label{display:inline-block}
#drive-unsupported-info p{margin-bottom:10px}
#usb-storage-applet label.title{font-weight:bold;font-size:14px;font-family:Helvetica,Arial;color:#3a5160;padding-bottom:5px;display:block}
#usb-storage-applet label.inline-header{display:inline-block;padding-top:15px;padding-right:10px}
#usb-storage-applet table.left-column{width:50%;float:left}
#usb-storage-applet table.right-column{width:50%}
#usb-storage-applet ul.tabs li.disabled span{color:#808184}
#usb-storage-applet .item-header{padding-top:15px;padding-right:10px}
#usb-storage-applet .tab-subcontent{display:block}
#usb-storage-applet #no-device-found-title,#usb-storage-applet #unsupported-device-title{padding-bottom:15px}
#usb-storage-applet #no-device-found-info,#usb-storage-applet #unsupported-device-info{width:600px;margin:50px auto}
#usb-storage-applet #unsupported-device-info div{padding-left:60px;min-height:48px;background:transparent url("/ui/1.0.99.201002/static/cache/images/badges/attention_48.png") top left no-repeat}
#usb-storage-applet #status-select-partition td{padding-bottom:10px}
#usb-storage-applet #status-select-partition .title{display:inline-block;margin-right:5px}
#usb-storage-applet #usb-status-device .left-column{clear:both}
#usb-storage-applet #usb-status-device .right-column{float:right}
#usb-storage-applet #usb-status-device .drive-unsupported{padding-left:20px;line-height:16px;background-image:url("/ui/1.0.99.201002/static/cache/images/attention.png");background-position:top left;background-repeat:no-repeat}
#usb-storage-applet #usb-status-refresh-info{padding-left:60px;background:transparent url("/ui/1.0.99.201002/static/cache/images/badges/info.png") top left no-repeat}
#usb-storage-applet #usb-drive-label{padding-bottom:15px}
#usb-storage-applet #refresh-usb-status-div{text-align:center}
#usb-storage-applet #partition-space{padding-top:10px;padding-bottom:5px;display:block}
#usb-storage-applet #remove-usb-container{float:right;padding-top:10px;}
#usb-storage-applet #remove-usb-container #remove-usb{margin:0 10px}
#usb-storage-applet #usb-information-panel{margin-bottom:20px}
#usb-storage-applet .left-column .highlighted{width:348px;margin-left:10px}
#usb-storage-applet .right-column .highlighted{margin-left:10px}
#usb-storage-applet #folder-access-info,#usb-storage-applet #ftp-server-info{padding-bottom:10px}
#usb-storage-applet #folder-access-subtitle,#usb-storage-applet #ftp-server-subtitle,#usb-storage-applet #media-server-subtitle{padding-bottom:15px}
#usb-storage-applet #folder-access-intro{width:600px;margin:25px auto}
#usb-storage-applet #folder-access-intro-text{padding-left:60px;background:transparent url("/ui/1.0.99.201002/static/cache/images/badges/info.png") center left no-repeat}
#usb-storage-applet #secure-folder-access-title{float:left;margin-top:6px;margin-right:20px}
#usb-storage-applet #secure-folder-access-off-text,#usb-storage-applet #secure-folder-access-on-text{padding-top:10px;display:inline-block}
#usb-storage-applet #authorized-users-title{margin-bottom:10px}
#usb-storage-applet #folder-access-select-partition .title,#usb-storage-applet #media-server-select-partition .title{display:inline-block;margin-right:5px}
#usb-storage-applet #authorized-users table{margin-top:10px;margin-bottom:25px}
#usb-storage-applet #authorized-users thead td{border-left-style:none;border-right-style:none;}
#usb-storage-applet #authorized-users thead td#username-title{border-left-style:solid}
#usb-storage-applet #authorized-users thead td#show-all-shares{border-right-style:solid}
#usb-storage-applet #authorized-users#show-all-shares,#usb-storage-applet #authorized-users #add-user-cell{text-align:right}
#usb-storage-applet #authorized-users .empty-cell,#usb-storage-applet #authorized-users #select-share-cell{border-right-style:none}
#usb-storage-applet #authorized-users .edit-user-cell,#usb-storage-applet #authorized-users .show-shares-cell{border-left-style:none;border-right-style:none}
#usb-storage-applet #authorized-users .delete-user-cell,#usb-storage-applet #authorized-users #add-user-cell{border-left-style:none}
#usb-storage-applet #media-folders td,#usb-storage-applet #media-folders th,#usb-storage-applet #authorized-users td{text-align:left;padding-left:10px;padding-right:10px}
#usb-storage-applet .inline-edit tr .input,#usb-storage-applet .inline-edit tr .cancel-edit-user,#usb-storage-applet .inline-edit tr.edit .static,#usb-storage-applet .inline-edit tr.edit .edit-user{display:none}
#usb-storage-applet .inline-edit tr .edit-user,#usb-storage-applet .inline-edit tr.edit .input,#usb-storage-applet .inline-edit tr.edit .cancel-edit-user{display:inline}
#usb-storage-applet #admin-account-password-text{display:block}
#usb-storage-applet #ftp-server-content{display:block}
#usb-storage-applet #media-folders-title{margin-bottom:10px}
#usb-storage-applet div#media-folders{clear:both}
#usb-storage-applet #media-folders table{max-width:782px;margin-top:10px}
#usb-storage-applet #media-folders th,#usb-storage-applet #media-folders td{min-width:170px;max-width:170px}
#usb-storage-applet #add-media-folder{width:765px;padding-top:10px;}
#usb-storage-applet #add-media-folder button{float:right}
html[dir="rtl"] #usb-storage-applet label.inline-header{padding-left:10px;padding-right:inherit}
html[dir="rtl"] #usb-storage-applet table.left-column{float:right}
html[dir="rtl"] #usb-storage-applet .left-column .highlighted,html[dir="rtl"] #usb-storage-applet .right-column .highlighted{margin-left:inherit;margin-right:10px}
html[dir="rtl"] #usb-storage-applet .item-header{padding-left:10px;padding-right:inherit}
html[dir="rtl"] #usb-storage-applet #usb-status-device .drive-unsupported{padding-left:0;padding-right:20px;background-position:top right}
html[dir="rtl"] #usb-storage-applet #unsupported-device-info div{padding-right:60px;padding-left:0;background-position:top right}
html[dir="rtl"] #usb-storage-applet #usb-status-refresh-info{padding-left:auto;padding-right:60px;background:transparent url("/ui/1.0.99.201002/static/cache/images/badges/info.png") top right no-repeat}
html[dir="rtl"] #usb-storage-applet #folder-access-intro-text{padding-left:inherit;padding-right:60px;background:transparent url("/ui/1.0.99.201002/static/cache/images/badges/info.png") center right no-repeat}
html[dir="rtl"] #usb-storage-applet #secure-folder-access-title{float:right;margin-right:inherit;margin-left:20px}
html[dir="rtl"] #usb-storage-applet #authorized-users #show-all-shares,html[dir="rtl"] #usb-storage-applet #authorized-users #add-user-cell{text-align:left}
html[dir="rtl"] #usb-storage-applet #media-folders td,html[dir="rtl"] #usb-storage-applet #media-folders th,html[dir="rtl"] #usb-storage-applet #authorized-users td{text-align:right;border:1px solid #97a6af}
html[dir="rtl"] #usb-storage-applet #create-new-share .select-folder-enter-directory{float:left;background:transparent url("/ui/1.0.99.201002/static/cache/applets/usb_storage/images/btn_into.png") top right no-repeat}
html[dir="rtl"] #usb-storage-applet #create-new-share #create-share-name-share{float:right}
html[dir="rtl"] #usb-storage-applet #create-new-share #select-folder{float:right;margin-left:30px;margin-right:inherit;padding:15px 0 15px 0;}
html[dir="rtl"] #usb-storage-applet #create-new-share #select-folder ul{padding-right:inherit;padding-left:30px}
html[dir="rtl"] #usb-storage-applet #create-new-share #select-folder li input,html[dir="rtl"] #usb-storage-applet #create-new-share #select-folder li label{float:right}
html[dir="rtl"] #usb-storage-applet #create-new-share #select-folder li{float:right;}
html[dir="rtl"] #usb-storage-applet #create-new-share #select-folder li img{float:left}
html[dir="rtl"] #usb-storage-applet #create-new-share #select-folder li span{float:right}
html[dir="rtl"] #usb-storage-applet #create-new-share #select-folder-title{padding-left:15px;padding-right:inherit}
html[dir="rtl"] #usb-storage-applet #create-new-share #select-folder-up-directory{float:left;background:transparent url("/ui/1.0.99.201002/static/cache/applets/usb_storage/images/btn_back.png") top left no-repeat}
html[dir="rtl"] #usb-storage-applet #select-existing-share #create-new-share-button{padding-right:auto;padding-left:10px;background:transparent url("/ui/1.0.99.201002/static/cache/applets/usb_storage/images/btn_add.png") top right no-repeat}
html[dir="rtl"] #usb-storage-applet #user-shares-table td,html[dir="rtl"] #usb-storage-applet #show-all-shares-table td{text-align:right}
html[dir="rtl"] #usb-storage-applet #remove-usb-container,html[dir="rtl"] #usb-storage-applet #show-all-shares-dialog-create-new-share-link,html[dir="rtl"] #usb-storage-applet #user-shares #user-shares-add-share{float:left}

