#usb-storage-widget{margin:15px 20px 0 20px;}
#usb-storage-widget #drive-loading{margin-top:55px;}
#usb-storage-widget #drive-loading label{color:#000}
#usb-storage-widget div#drive-on-single-partition #usb-stats,#usb-storage-widget div#drive-off,#usb-storage-widget div#drive-loading{width:235px;text-align:center}
#usb-storage-widget div#drive-off label{display:block;margin-top:35px;margin-bottom:22px;color:#979c9e}
#usb-storage-widget div#drive-off .refresh-usb{display:block;line-height:30px}
#usb-storage-widget div#drive-unsupported label{display:block;margin-top:22px;margin-bottom:20px;padding-left:20px;color:#979c9e;background-image:url("/ui/1.0.99.201002/static/cache/images/attention.png");background-position:top left;background-repeat:no-repeat}
#usb-storage-widget div#drive-unsupported .refresh-usb{display:block;line-height:30px;text-align:center}
#usb-storage-widget #usb-stats{clear:both;padding-top:5px;}
#usb-storage-widget #usb-stats > span.truncate-text{display:inline-block;width:100%}
#usb-storage-widget #usb-stats button{width:233px;padding:0}
#usb-storage-widget #drive-on-multiple-partitions label.used-space-label{font-size:9px;font-family:Helvetica;color:#3b5264}
#usb-storage-widget #drive-on-multiple-partitions .progress-bar{height:16px}
#usb-storage-widget #drive-on-multiple-partitions #partition-space-one-number,#usb-storage-widget #drive-on-multiple-partitions #partition-space-two-number{width:16px;height:16px;float:left;margin-right:5px;margin-top:1px;background:url("/ui/1.0.99.201002/static/cache/images/numbers/numbers-green.png") 0 0}
#usb-storage-widget #drive-on-multiple-partitions #partition-space-two-number{background-position:-16px 0}
#usb-storage-widget #drive-on-multiple-partitions #partition-space-two{margin-top:10px}
#usb-storage-widget #drive-on-multiple-partitions #multiple-partition-link{text-align:center;margin-top:10px}
html[dir="rtl"] #usb-storage-widget div#drive-unsupported label{padding-right:20px;padding-left:0;background-position:top right}

