
.avail {
    background-color: white;
    color: black;
    font-size: 10pt;
}

.reportRange {
    text-align: center;
    font-weight: bold;
    font-size: 10pt;
}

.reportDuration {
    text-align: center;
    font-size: 8pt;
}

.reportTime {
    text-align: center;
    font-size: 8pt;
}

.dataTitle {
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
}

TABLE.data {
    background-color: white;
    padding: 2;
}

TH.data {
    background-color: white;
    text-align: left;
    background-color: #D3D3D3;
    color: black;
}

.dataOdd {
    background-color: #DBDBDB;
}

.dataEven {
    background-color: #EFEFEF;
}

.optionBoxTitle {
    text-align: center;
    font-weight: bold;
    font-size: 10pt;
}

.optionBox {
    background-color: #EEEEF4;
    padding: 2;
}

.hostUP {
    text-align: left;
    background-color: #33FF00;
    font-weight: bold;
}

.hostDOWN {
    text-align: left;
    background-color: #F83838;
    font-weight: bold;
}

.hostUNREACHABLE {
    text-align: left;
    background-color: #F83838;
    font-weight: bold;
}

.serviceOK {
    text-align: left;
    background-color: #33FF00;
    font-weight: bold;
}

.serviceWARNING {
    text-align: left;
    background-color: #FFFF00;
    font-weight: bold;
}

.serviceUNKNOWN {
    text-align: left;
    background-color: #FF9900;
    font-weight: bold;
}

.serviceCRITICAL {
    text-align: left;
    background-color: #F83838;
    font-weight: bold;
}

.helpfulHint {
    text-align: left;
    font-size: 8pt;
    font-style: italic;
    text-align: center;
}

.dateSelectTitle {
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
}

.dateSelectSubTitle {
    text-align: left;
    font-weight: bold;
    font-size: 10pt;
}

.dateSelectItem {
    text-align: left;
    font-size: 8pt;
}

.reportSelectTip {
    text-align: left;
    font-size: 8pt;
    font-style: italic;
}

.reportSelectTitle {
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
}

.reportSelectSubTitle {
    text-align: right;
    font-size: 10pt;
}

.reportSelectItem {
    text-align: left;
    font-size: 8pt;
}

TABLE.logEntries {
    font-size: 8pt;
    background-color: white;
    padding: 3;
}

TH.logEntries {
    background-color: white;
    text-align: left;
    background-color: #D3D3D3;
    color: black;
}

.logEntriesEven {
    font-size: 8pt;
    background-color: white;
    text-align: left;
    background-color: #EFEFEF;
    color: black;
}

.logEntriesOdd {
    font-size: 8pt;
    background-color: white;
    text-align: left;
    background-color: #DBDBDB;
    color: black;
}

.logEntriesINDETERMINATE {
    font-size: 8pt;
    background-color: #ACACAC;
}

.logEntriesOK {
    font-size: 8pt;
    background-color: #33FF00;
}

.logEntriesUNKNOWN {
    font-size: 8pt;
    background-color: #FF9900;
}

.logEntriesWARNING {
    font-size: 8pt;
    background-color: #FFFF00;
}

.logEntriesCRITICAL {
    font-size: 8pt;
    background-color: #F83838;
}

.logEntriesUP {
    font-size: 8pt;
    background-color: #33FF00;
}

.logEntriesDOWN {
    font-size: 8pt;
    background-color: #F83838;
}

.logEntriesUNREACHABLE {
    font-size: 8pt;
    background-color: #F83838;
}



