
.cmd {
    background-color: white;
    color: black;
    font-size: 10pt;
}

.cmdType {
    font-weight: bold;
    text-align: center;
}

.commandDescription {
    text-align: center;
    background-color: #DBDBDB;
    padding: 5;
}

.descriptionTitle {
    text-align: center;
    font-weight: bold;
    font-size: 10pt;
    margin: 0 0 7px 0
}

.optBoxRequiredItem {
    text-align: left;
    background-color: #EFEFEF;
    font-size: 8pt;
}

.optBox {
    background-color: #EFEFEF;
}

.optBoxTitle {
    font-weight: bold;
    font-size: 10pt;
    margin: 0 0 7px 0;
}