
.notifications {
    background-color: white;
    color: black;
}

TABLE.notifications {
    background-color: white;
    padding: 5;
}

table.notifications tr td {
    padding: 3px;
}

TH.notifications {
    background-color: white;
    text-align: left;
    background-color: #D3D3D3;
    color: black;
}

.notificationsOdd {
    background-color: #DBDBDB;
}

.notificationsEven {
    background-color: #EFEFEF;
}

.notificationsOK {
    background-color: #33FF00;
}

.notificationsUNKNOWN {
    background-color: #FF9900;
}

.notificationsWARNING {
    background-color: #FFFF00;
}

.notificationsCRITICAL {
    background-color: #F83838;
}

.notificationsACKNOWLEDGEMENT {
    background-color: #AAAAAA;
}

.notificationsCUSTOM {
    background-color: #778899;
}

.notificationsHOSTUP {
    background-color: #33FF00;
}

.notificationsHOSTDOWN {
    background-color: #F83838;
}

.notificationsHOSTUNREACHABLE {
    background-color: #F83838;
}

.notificationsHOSTACKNOWLEDGEMENT {
    background-color: #AAAAAA;
}

.notificationsHOSTCUSTOM {
    background-color: #778899;
}

