#footer{
	height:30px;
	width:100%;
	background-image: linear-gradient(#FFF, #EEE 50%, #E4E4E4);
	background-repeat: no-repeat;
	filter: none;
	border: 1px solid #D5D5D5;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	bottom: 0;
	border-width: 1px 0 0;
}

#panel-margin{
	margin-top:40%;
}

#title{
	color:#fff;
}

#sidebar{
	top:55px;
	width:17%;
	position:fixed;
	height:100%;
	border:1px solid #e7e7e7;
}

#menu ul li{
	list-style-type:none;
	padding:5px;
	border-bottom:0;
}

#menu ul li a:hover{
	text-decoration:none;
}

.user{
	color:#fff;
	margin-top:10px;
	margin-right:20px;
}

#content{
	float:right;
	width:81%;
	margin-right:10px;
	height:1000px;
}