#security-applet .inline-edit tr .ipv6firewall-ipv6Address{width:260px}
#security-applet .inline-edit tr .forwarding-externalPort,#security-applet .inline-edit tr .forwarding-internalPort,#security-applet .inline-edit tr .forwarding-firstExternalPort,#security-applet .inline-edit tr .forwarding-lastExternalPort,#security-applet .inline-edit tr .triggering-firstTriggerPort,#security-applet .inline-edit tr .triggering-lastTriggerPort,#security-applet .inline-edit tr .triggering-firstForwardedPort,#security-applet .inline-edit tr .triggering-lastForwardedPort{width:50px}
#security-applet .inline-edit tr .ipv6firewall-firstPort,#security-applet .inline-edit tr .ipv6firewall-lastPort{width:38px}
#security-applet #add-ipv6firewall,#security-applet #add-singleportforwarding,#security-applet #add-portrangeforwarding,#security-applet #add-portrangetriggering{margin-top:15px}
#security-applet #firewall .ipv6-portrange{margin-top:15px}
#security-applet #firewall input.rule-description{width:150px}
#security-applet #firewall th,#security-applet #firewall td{width:170px}
#security-applet #firewall th + th,#security-applet #firewall td + td{width:96px}
#security-applet #firewall th + th + th,#security-applet #firewall td + td + td{width:280px}
#security-applet #firewall th + th + th + th,#security-applet #firewall td + td + td + td{width:121px}
#security-applet #firewall th + th + th + th + th,#security-applet #firewall td + td + td + td + td{width:80px}
#security-applet #firewall th + th + th + th + th + th{width:92px}
#security-applet #firewall td + td + td + td + td + td{width:75px}
#security-applet #dmz-viewdhcpclienttable{margin-top:15px}
#security-applet #dmz .dmz-baseIP{padding-right:0}
#security-applet #dmz div.left fieldset,#security-applet #dmz div.right fieldset{height:144px;margin:0;width:378px}
#dmz-dhcpclienttable{width:710px}
#dmz-clienttable td{word-wrap:break-word;word-break:break-all}
#security-applet #dmz .to{width:300px}
#dmz-clienttable th.col-name,#dmz-clienttable td.col-name{padding-left:2px;padding-right:2px;width:215px}
#dmz-clienttable th.col-interface{width:90px}
#dmz-clienttable th.col-ip{width:115px}
#dmz-clienttable th.col-mac{width:145px}
#security-applet #ddnsProvider{margin-left:10px}
#security-applet #ddnsSettings #ddns-common,#security-applet #ddnsSettings #ddns-None,#security-applet #ddnsSettings #ddns-DynDNS,#security-applet #ddnsSettings #ddns-No-IP,#security-applet #ddnsSettings #ddns-TZO{display:none}
#security-applet #ddnsSettings.Disabled #ddns-None,#security-applet #ddnsSettings.DynDNS #ddns-DynDNS,#security-applet #ddnsSettings.No-IP #ddns-No-IP,#security-applet #ddnsSettings.No-IP #ddns-common,#security-applet #ddnsSettings.DynDNS #ddns-common,#security-applet #ddnsSettings.TZO #ddns-common,#security-applet #ddnsSettings.TZO #ddns-TZO{display:block;overflow:visible}
#security-applet #singleportforwarding th:first-child,#security-applet #singleportforwarding td:first-child{min-width:185px;max-width:185px}
#security-applet #singleportforwarding th:first-child + th,#security-applet #singleportforwarding td:first-child + td{min-width:110px;max-width:110px}
#security-applet #singleportforwarding th:first-child + th + th,#security-applet #singleportforwarding td:first-child + td + td{min-width:110px;max-width:110px}
#security-applet #singleportforwarding th:first-child + th + th + th,#security-applet #singleportforwarding td:first-child + td + td + td{min-width:100px;max-width:100px}
#security-applet #singleportforwarding th:first-child + th + th + th + th,#security-applet #singleportforwarding td:first-child + td + td + td + td{min-width:145px;max-width:145px}
#security-applet #singleportforwarding th:first-child + th + th + th + th + th,#security-applet #singleportforwarding td:first-child + td + td + td + td + td{min-width:80px;max-width:80px}
#security-applet #singleportforwarding th:first-child + th + th + th + th + th + th{min-width:107px;max-width:107px}
#security-applet #singleportforwarding td:first-child + td + td + td + td + td + td{min-width:90px;max-width:90px}
#security-applet #portrangeforwarding th:first-child,#security-applet #portrangeforwarding td:first-child{min-width:180px;max-width:180px}
#security-applet #portrangeforwarding th:first-child + th,#security-applet #portrangeforwarding td:first-child + td{min-width:180px;max-width:180px}
#security-applet #portrangeforwarding th:first-child + th + th,#security-applet #portrangeforwarding td:first-child + td + td{min-width:120px;max-width:120px}
#security-applet #portrangeforwarding th:first-child + th + th + th,#security-applet #portrangeforwarding td:first-child + td + td + td{min-width:150px;max-width:150px}
#security-applet #portrangeforwarding th:first-child + th + th + th + th,#security-applet #portrangeforwarding td:first-child + td + td + td + td{min-width:110px;max-width:110px}
#security-applet #portrangeforwarding th:first-child + th + th + th + th + th{min-width:99px;max-width:99px}
#security-applet #portrangeforwarding td:first-child + td + td + td + td + td{min-width:82px;max-width:82px}
#security-applet #portrangetriggering th,#security-applet #portrangetriggering td{min-width:200px;max-width:200px}
#security-applet #portrangetriggering th + th,#security-applet #portrangetriggering td + td{min-width:205px;max-width:205px}
#security-applet #portrangetriggering th + th + th,#security-applet #portrangetriggering td + td + td{min-width:204px;max-width:204px}
#security-applet #portrangetriggering th + th + th + th,#security-applet #portrangetriggering td + td + td + td{min-width:120px;max-width:120px}
#security-applet #portrangetriggering th + th + th + th + th{min-width:109px;max-width:109px}
#security-applet #portrangetriggering td + td + td + td + td{min-width:92px;max-width:92px}
#security-applet div.panel-buttons{margin-top:5px;width:auto}
#security-applet div.panel-buttons button{width:auto}
#security-applet #dmz .ip-input,#security-applet #dmz .mac-input{font-weight:bold}
#security-applet #firewall div.row span.check-item{padding-top:2px}
#security-applet #ddnsSettings div.row span.check-item{padding-top:9px}
#security-applet #dmz-specified-range{width:300px}

