body { font-family: verdana, arial; margin: 0; padding: 0; }
body.parent{ background: #FFF; overflow: hidden; margin: 5px; }
.va-m { vertical-align: middle; }

#footer { margin: 0; padding: 0; clear: both; position: absolute; width: 100%; bottom: 5px; left: 0px; background-color: #FFF; }
ul.footermenu { border-bottom: 3px solid #4D89F9; margin: 0 5px; }

table.section .subtext { margin: 3px 0 10px 0; }
table.section .category { vertical-align: top; padding-top: 3px; }

#leftnav { top: 105px; }
#leftnav .well { padding: 5px !important; }
#maincontent { top: 105px; }
#header { margin-bottom: 6px; }
#maincontentspacer { margin: 0; height: 100%; }
#mainframe #fullscreen { left: 186px; }

.dashlettableinnercontent { padding: 0 0 0 5px; }
.dashifybutton { top: 0; height: auto; }
.ui-widget-content a { color: #4D89F9; }

.perfgraphlinks { float: left; }
.perfgraphlink { margin-bottom: 4px; }

div.menusectiontitle { padding: 0 0 2px 5px; cursor: pointer; }
ul.menusection { padding: 0 0 0 5px; }

#schedulepagereport { float: none; display: inline-block; margin: 9px 10px 0px 20px; height: auto; width: auto; }
#permalink { float: none; display: inline-block; margin-right: 10px; height: auto; width: auto; }
#feedback { float: none; display: inline-block; margin-right: 10px; }
#addtomyviews { float: none; display: inline-block; margin-right: 10px; }
#popout { float: none; display: inline-block; height: auto; padding-top: 2px; }
#schedulepagereport a, #permalink a, #feedback a { background: none; display: inline-block; height: auto; width: auto; }
#myviewspeedslider { height: auto; margin: 7px 5px; }
.viewspeed-slider-box { float: left; margin-left: 10px; padding-top: 2px; }
#current-time { float: right; height: auto; margin-top: 4px; margin-right: 5px; }
.rotation-stopped { margin-top: 5px; }

#popup_data table td { padding: 2px 4px; }

.dashboarddashletcontainer { border: 1px solid transparent; padding: 12px 7px 7px; border-radius: 4px; cursor: move; }
.dashlettitle { position: relative; top: -5px; left: 2px; float: left; }
.dashboarddashletcontrol { top: -8px; right: 2px; z-index: 9; }
.dashletpin:hover { cursor: pointer; }
.dashboarddashlet { clear: both; padding: 0; margin: 0; cursor: default; }

/* override bootstrap 2 section - some of these are bad hacks, but work for overriding instead of upgrading to 3 */
.dashlettable { border: 1px solid transparent; padding: 0.75em 1em 1em 0.75em; }
.dashlettable.dashlettablehover { border: 1px dashed #888; }

.subtext { font-size: 1em; padding: 0.4rem 0 0 0; }

.table-bordered { border-collapse: collapse; }
td.serviceok, td.servicewarning, td.servicecritical, td.serviceunknown, td.hostup, td.hostdown, td.hostunkown { border-left: none; }
td.checkbox { display: table-cell; }
div .input-group { width: auto !important; }
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) { border-top-right-radius: 0; border-bottom-right-radius: 0; }
.btn-group-sm>.btn, .btn-sm { padding: 5px 10px; font-size: 12px; line-height: 1.5; }
.checkbox, .radio { position: relative; }
.checkbox label, .radio label { min-height: 20px; margin: 0 6px 0 6px; font-weight: 400; }

/* Buttons */
.btn { padding: 2px 8px; background-image: none; border-radius: 0; box-shadow: none; text-shadow: none; }
.btn-primary { background-color: #4D89F9; border-color: #3371E6; background-image: none; border-radius: 0; }
.btn.disabled, .btn[disabled] { background-image: none; border-radius: 0; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active { background-color: #3371E6; border-color: #1B59CD; }
.btn-default { color: #333; background-color: #fff; border-color: #ccc; }
.btn-info { color: #fff; background-color: #5bc0de; border-color: #46b8da; }
.btn i.r { margin-left: 0.25em; }
.btn i.l { margin-right: 0.25em; }
.btn-xxs {  font-size: inherit; line-height: 1rem; padding: 4px 7px 5px 7px; }
.ui-tabs .ui-tabs-nav li a, input, select, button { outline: none; }

/* forms */
.form-error { border: 1px solid red; }
form textarea.form-control { line-height: 1.1rem; }
form .form-control, .form-control { line-height: 1.1rem; display: inline-block; width: auto; margin: 0; border-radius: 0; height: auto; }
form .form-control:focus, .form-control:focus { border: 1px solid #CCC; box-shadow: inset 0 0 22px #EEE; }
form select.form-control, select.form-control { width: auto; height: 25px; padding: 0; }
label input { font-weight: normal; }
input.form-control.jump-to { height: 25px; margin-left: 20px; width: 30px; border-radius: 0; padding: 0; }
#run { vertical-align: middle; }

textarea.code { font-family: courier; font-size: 1.4rem; line-height: 1.6rem; }
textarea.fullsize { width: 100%; min-width: 400px; height: 100%; }

/* tables */
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th { vertical-align: top; line-height: 1.42857143; padding: 5px 5px 5px 15px; }

table.infotable { margin: 0 0 5px 0; }
table.infotable tbody td { padding: 12px 4px; }
table.table-striped > tr:nth-child(2n+1) > td { background-color: inherit; }
.sysstat_componentstates table.infotable tbody td, .sysstat_serverstats table.infotable tbody td, .sysstat_monitoringproc table.infotable tbody td, .sysstat_monitoringstats table.infotable tbody td, .sysstat_monitoringperf table.infotable tbody td { padding: 0.10em 0.4em; }
.sysstat_monitoringproc table.infotable tbody tr:last-child td, .sysstat_monitoringstats table.infotable tbody tr:last-child td, .sysstat_monitoringperf table.infotable tbody tr:last-child td, .sysstat_serverstats table.infotable tbody tr:last-child td, .sysstat_componentstates table.infotable tbody tr:last-child td  { padding-bottom: 0.4em; }
.sysstat_monitoringproc table.infotable tbody tr:first-child td, .sysstat_monitoringstats table.infotable tbody tr:first-child td, .sysstat_monitoringperf table.infotable tbody tr:first-child td, .sysstat_serverstats table.infotable tbody tr:first-child td, .sysstat_componentstates table.infotable tbody tr:first-child td  { padding-top: 0.4em; }
.table.table-no-border>tbody>tr>td, .table.table-no-border>tbody>tr>th, .table.table-no-border>tfoot>tr>td, .table.table-no-border>tfoot>tr>th, .table.table-no-border>thead>tr>td, .table.table-no-border>thead>tr>th { border: none; }

table .table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th { background-color: none; }
#servicestatustable table.table-bordered>thead>tr>td, table.table-bordered>thead>tr>th { border-bottom-width: 2px; border-radius: 0; border-collapse: collapse; }
#hoststatustable table.table-bordered>thead>tr>td, table.table-bordered>thead>tr>th { border-bottom-width: 2px; border-radius: 0; border-collapse: collapse; }

/* status colors */
table.tablesorter tbody tr td.hostup, table.tablesorter tbody tr.hostdown { background-color: #B2FF5F; }
table.tablesorter tbody tr td.servicecritical { background-color: #FF795F; }
table.tablesorter tbody tr td.servicewarning { background-color: #FEFF5F; }
table.tablesorter tbody tr td.serviceunknown { background-color: #FFC45F; }

table.table.table-auto-width { width: auto; }
table.table.table-no-margin { margin: 0; }
table.table.table-no-bg { background-color: transparent; }

table.tablesorter { border-spacing: 0; border-radius: 0; }
table.tablesorter tbody tr td input.uidcheckbox, #checkall { cursor: pointer; }
table.tablesorter tbody tr td.clickable { cursor: default; }

table.tablesorter thead tr .headerSortUp { background-image: url('../../../images/th_up.png'); }
table.tablesorter thead tr .headerSortDown { background-image: url('../../../images/th_down.png'); }
table.tablesorter thead tr .sort-header { background-repeat: no-repeat; background-position: 90% center; padding-right: 18px; }

table.tablesorter tbody td { color: #222; vertical-align: top; padding: 5px; background-color: initial; }
table.tablesorter tfoot tr, table.tablesorter thead tr { background-color: #FFF; }
table.tablesorter thead tr th, table.tablesorter tfoot tr th { background-color: #FFF; font-size: 9pt; padding: 5px; }
table.tablesorter tbody tr.even td { background-color: initial; }

table table.table { margin: 0; }
.servicestatustable div.hosticons img.objecticon { margin: 0; }
/* end tables  */

.perm-users { margin-top: 10px; }

div.reporttimepicker { padding-top: 5px; }
div.reportstartdatepicker { top: 0; position: static; }
div.reportenddatepicker { top: 0; position: static; }
div.reportoptionpicker { font-size: 8pt; }

#login_alert_popup { top: 150px; }
#tray_alerter { cursor: pointer; padding: 0; position: static; display: inline-block; right: 0; bottom: 0; margin-right: 12px; }
#tray_alerter_popup { position: absolute; bottom: 46px; right: 320px; }

.nav li a { font-size: 12px; line-height: 18px; }
.nav form { margin: 0; }

#footer .well { font-size: 13px; min-height: 0; margin: 0px 5px; padding: 6px 0 5px 0; color: #555; max-height: 30px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
#footer .well .span6 { min-height: 0; }
#footer .well .footer-right { text-align: right; }
#footer .well .footer-right a { color: #999;  }
#footer .well a:hover { text-decoration: none; color: #000; }
#footer .well .footer-right img { vertical-align: text-bottom; }
.well.select { font-size: 13px; }
.well.select div.filter { font-size: 13px; padding: 22px 15px; }
.well.select span { font-size: 13px; }
#wizardSearchBox { border-radius: 0; font-size: 10px; }

#leftnav li { line-height: 15px; }

.navbar-icons { padding: 4px 10px 0 0; }
.navbar-icons i { font-size: 16px; color: #666; vertical-align: middle; text-shadow: 1px 1px 1px #000; }
.navbar-icons i:hover { color: #FFF; }

input, select, textarea { font-size: 12px; vertical-align: middle; font-family: inherit; font-size: inherit; line-height: inherit; }
.ui-state-active a, .ui-state-hover a { outline: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active a { cursor: default; }
*:focus { outline:0; }

ul { /* list-style-type: none; */ }

.nopad2014 { padding: 0; margin: 0; }
.login_page_container { margin-top: 50px; }
.xi2014_fieldset { padding: 0; width: 100%; margin-top: 25px; }

.error2014 { padding: 1em; margin-top: 20px; background: #FF9999; border: 1px solid #c69; display: none; float: left; }
.message2014 { padding: 1em; margin-top: 20px; background: #CFEBF7; border: 1px solid #2580B2; display: none; float: left; }
.ok2014 { padding: 1em; margin-top: 20px; background: #c0f4c0; border: 1px solid #009100; display: none; float: left;  }

td label { display: inline-block; padding-right: 5px; } /* Fix for 2014 to make the labels center nicely vertically */
hr { margin: 0.5em 0; }

.dashlettable { border: 1px solid transparent; padding: 0.75em 1em 1em 0.75em; }
.dashlettable.dashlettablehover { border: 1px dashed #888; }
.dashifybutton { top: 0; height: auto; }

/* Host/Service details page Performance Graphs tab */
.hostgaugecontainer { width: 160px; float: left; padding: 0px 20px; }
.servicegaugecontainer { width: 160px; float: left; padding: 0px 20px; }
.status-details-perfdata-leftside { float: left; margin-right: 40px; }
.status-details-perfdata-rightside { float: left; }
.xicore_perfdata_chart_outboard { display: inline-block; border: 1px solid #FFF; border-radius: 4px; min-width: 500px; min-height: 200px; }
.xicore_perfdata_chart_outboard.dashlettablehover { border: 1px dashed #555; }
.stausdetail_chart_timeframe_selector { margin-bottom: 20px; }

/* Gauge classes for Outboard Dashlets */
.gauges_outboardclass { min-width: 160px; border: 1px solid #FFF; border-radius: 4px; }
.gauges_outboardclass.dashlettablehover { border: 1px dashed #555; }
.gauges_dashlet { margin: 10px 12px 0 0; }

/* Graph Explorer CSS for Dashlets */
#graphDisplay { padding: 0; margin: 20px; border: 1px solid #FFF; border-radius: 4px; padding: 8px 8px 6px 6px; }
#graphDisplay.graphdashlethover { border: 1px dashed grey; }
#graphDisplay form { margin: 0; }

.dashboarddashletcontainer.dashboardragborder { border: 1px dotted #85affc; }
.chartbutton { cursor: pointer; }

.infotable-wrapper { padding: 0 5px 5px 5px; border: 1px solid #D3D3D3; margin-bottom: 3px; float: left; }
.xi_available_updates_dashlet .infotable { width: 300px; border: none; }
.xi_available_updates_dashlet .infotable td { padding: 1px; }
.xicore_available_updates_outboard, .xicore_host_status_summary_outboard, .xicore_service_status_summary_outboard, .metrics_map_outboard, .xicore_hostgroup_status_summary_outboard, .xicore_hostgroup_status_overview_outboard, .xicore_servicegroup_status_summary_outboard, .xicore_servicegroup_status_overview_outboard, .xicore_servicegroup_status_grid_outboard, .xicore_network_outages_summary_outboard, .xicore_host_status_tac_summary_outboard, .xicore_service_status_tac_summary_outboard, .xicore_feature_status_tac_summary_outboard, .xicore_network_health_outboard, .xicore_network_outages_outboard, .bbmap_map_outboard, .minemap_map_outboard, .latestalerts_map_outboard, .xicore_comments_outboard, .xicore_monitoring_process_outboard, .xicore_eventqueue_chart_outboard, .xicore_monitoring_stats_outboard, .alertcloud_map_outboard, .xicore_getting_started_outboard, .xicore_admin_tasks_outboard, .xicore_component_status_outboard, .xicore_server_stats_outboard { padding: 6px; display: inline-block; border: 1px solid transparent; }
.xicore_available_updates_outboard.dashlettablehover, .dashlettable.dashlettablehover, .metrics_map_outboard.dashlettablehover { border: 1px dashed grey; }
.xicore_available_updates_outboard .dashifybutton { position: relative; top: 3px; left: 2px; }

.multi-color-table tr:nth-child(even) td { background-color:#eee; }
.multi-color-table tr:nth-child(odd) td { background-color:#fff; }
textarea.code { font-family: "Courier New", Courier, monospace; }

@media print{ a,a:visited{text-decoration:underline}pre,blockquote{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100%!important}@page{margin:.5cm}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}}

@media print and (-webkit-min-device-pixel-ratio:0) {
    #footer { height: 0px; bottom: -4px; } }

select, input[type="file"] { height: 25px; line-height: 25px; }

label, input, button, select, textarea { line-height: normal; }

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { padding: 3px 6px; }
select { padding: 2px; }
textarea { padding: 5px 6px; font-size: 12px; line-height: 16px; }
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"] { width: auto; }
.radio, .checkbox { min-height: 0; }
.report-options .floatbox { line-height: normal; }

#hypermap-replay-slider, #myviewspeedslider { background-color: #F9F9F9; background-image: none; }
#hypermap-replay-control img:hover { cursor: pointer; }

.rotation-speed-stubs { text-align: center; padding-top: 5px; color: #AAA; visibility: hidden; }
.rotation-speed-stubs i:hover { cursor: default; }

.dashlettableinnercontent.metrics_map_outboard { padding-left: 10px; }

#techsupport-contents div ul { padding-left: 15px; }

.new-buttons a:hover { text-decoration: none; }
.new-buttons a span:hover { text-decoration: underline; }

.hosticons a { margin-left: 3px; }
.hostgroup_icons, .servicegroup_icons { margin-left: 3px; }
.hostname a { margin-right: 5px; vertical-align: middle; }

#applyConfigOutput.success { background-color: #CFEBF7; border: 1px solid #2580B2; padding: 1em; }
#applyConfigOutput.error { background-color: #FF9999; border: 1px solid #CC6699; padding: 1em; }
#errors .error { background-color: #FF9999; border: 1px solid #CC6699; padding: 1em; width: 600px; margin: 10px; }
a { color: #4D89F9; cursor: pointer; }

#notifications-tab label { color: #000; }
.padded-table-row { padding: 6px 0; line-height: 20px; }
.selection-sub-box { overflow: auto; width: 350px; max-height: 100px; border: 1px solid gray; margin: 0 0 0 20px; padding: 4px; }
.selection-sub-box label, .selection-sub-box div { line-height: 14px; color: #000; }
.selection-sub-box.no-margin { margin: 0; }

div.reportexportlinks { }
div.reportexportlinks a { margin-right: 8px; height: 20px; display: inline-block; font-size:9pt !important}
li.menulink a span { width: 15px; text-align: left; display: inline-block; }
.report-options { margin: -10px -15px 20px -20px; vertical-align: middle; }
label.select-cf-option { font-weight: bold; color: #000; font-size: 12px; line-height: 12px; padding-top: 3px; }
.center { text-align: center; }
a.homedash { margin-bottom: 5px; display: block; margin-right: 16px; padding-bottom: 5px; border-bottom: 1px solid #EAEAEA; }

.reportoptionpicker select:hover { cursor: pointer; }
.searchable-box, .searchable-box div { display: inline-block; }
.searchable-selector { overflow: auto; }
select.searchable-selector option { padding: 2px 3px; }

.pop { cursor: pointer; }
.popover-title { font-size: 13px; }
.popover-content { font-weight: normal; padding-bottom: 12px; font-size: 12px; }

.pager-select-page { margin: 0 10px 0 20px; }
.pager-select-numpages { margin: 0 20px 0 10px; }
.tablepagerselect, .tablepagertextfield { vertical-align: middle; }

.xi-pager { text-align:center; }

.btn-sm { height: auto; }
.btn-sm img { vertical-align: top; margin-right: 2px; }
.fa.l { margin-right: 2px; }
.fa.r { margin-left: 2px; }
.fa.pop { font-size: 14px; cursor: pointer; }
a.btn span:hover { text-decoration: none; }
.pager-select-page { margin: 0 10px 0 20px; }
.pager-select-numpages { margin: 0 20px 0 10px; }
.tablepagerselect, .tablepagertextfield { vertical-align: middle; }
.btn-xs { font-size: 1.1em; line-height: 1.1em; padding: 6px 10px; }
.xi-pager .btn-xs, .xi-pager input.form-control.condensed { height: initial; }
.xi-pager input, .xi-pager select, .xi-pager a { vertical-align: top; }
.servicestatustablesearch input.form-control.condensed { height: initial; }
.servicestatustablesearch button { height: 29px; }
table.infotable tbody td { padding: 0.4em; }

.dropdown-menu > li > a { padding: 3px 15px; font-size: 9pt; }
.dropdown-header { font-weight: bold; padding: 3px 5px; }

.dashboarddashlethover { border: 1px solid #4D89F9; opacity: 1.0; }
#myviewspeedslider { width: 50px; }

.h5, h5 { font-size: 14px; font-weight: normal; }
.h4, h4 { font-size: 18px; font-weight: normal; }
.h4, .h5, .h6, h4, h5, h6 { margin-top: 10px; margin-bottom: 10px; }
.wiz-table { width: 98%; left: 14px; }
.wiz-box-text h5 { margin: 0 0 6px 0; }
.wiz-padbox { width: 23.5%; }

.form-control { font-size: inherit; }

a#topalert-popover { height: 16px; display: inline-block; }

.navbar-search { margin: 0; padding: 12px 0 0 0; }

.undo-redo-spanners {background-color: rgb(255, 255, 255); color : rgb(0, 0, 0); border: 1px solid #ccc; border-radius: 4px; padding: 5px; margin: 5px; display: inline-block; font-size: 10px; font-family: monospace; white-space: nowrap; font-weight: bold;}

.undo-tag { padding: 5px; margin: 5px; display: inline-block; font-size: 12px; font-family: monospace; white-space: nowrap; font-weight: bold;}
.navbar-search { margin: 0; padding: 12px 0 0 0; }
