body { font-family: verdana, arial; font-size: 1.1rem; margin: 0; padding: 0; }
body.parent{ background: #FFF; overflow: hidden; }
.va-m { vertical-align: middle; }

#maincontentspacer { margin: 0; height: 100%; }

@font-face {
    font-family: 'robotoblack';
    src: url('../../fonts/Roboto-Black-webfont.eot');
    src: url('../../fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Roboto-Black-webfont.woff') format('woff'),
         url('../../fonts/Roboto-Black-webfont.ttf') format('truetype'),
         url('../../fonts/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

.single-half-col { max-width: 60%; }
@media (max-width: 1200px) {
    .single-half-col { max-width: 100%; }
}

.hiddenmenu { display: none; }
#mdropdown { font-weight: bold; color: #FFF; cursor: default; }
#mdropdown .nav-head, #mdropdown .nav-head:hover { padding: 0 15px; color: #FFF; cursor: default; }
#mdropdown li > a { font-weight: normal; color: #FFF; cursor: pointer; padding: 0px 15px; min-width: 115px; display: inline-block; }
#mdropdown a:hover { text-decoration: none; color: #AAA; }
ul.dropdown-items { list-style-type: none; margin: 0; padding: 0; background: #222; display: none; position: absolute; line-height: 30px; z-index: 10001; }
#mdropdown span ul { padding: 5px 0; }
#mdropdown:hover, .menu-expand-children { background: #222; }
#mdropdown:hover span > ul, .menu-expand-children span > ul { display: block; }

@media (max-width: 1250px) {
    .hiddenmenu { display: block; }
    .mainmenu { display: none; }
}

@media (min-width: 1250px) {
    .table th.time-fw { width: 150px; }
}

.help-section { padding: 10px 0; }
code { font-size: 1.2rem; }
form textarea.form-control { line-height: 1.3rem; }

.fa.pop { font-size: 14px; cursor: pointer; outline: none; }
td.checkbox label { line-height: 2rem; }
.checkbox, .radio { margin: 0 0 10px 0; line-height: 2rem; }
.popover-content { font-size: 1.3rem; line-height: 1.75rem; padding: 1rem 1.2rem; }
.tooltip-inner { border-radius: 0; }

td.checkbox { display: table-cell; }
.ui-tabs .ui-tabs-nav li a, input, select, button { outline: none; }
div.message { display: inline-block; position: static; width: auto; }
div.message .errorMessage a { color: #333; border-bottom: 1px dotted #333; font-weight: bold; }
div.message .errorMessage a:hover { border-bottom: 1px solid #333; text-decoration: none; }

.btn-xs { font-size: 1.1rem; line-height: 1.1rem; padding: 6px 10px; }
#tabs a .fa { margin-right: 2px; }

/* Button colors */
.btn-primary { background-color: #4D89F9; border-color: #3371E6; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active { background-color: #3371E6; border-color: #1B59CD; }
#mainCcmForm .btn-group .btn-default.active, #mainCcmForm .btn-group .btn-default.focus, #mainCcmForm .btn-group .btn-default:active, #mainCcmForm .btn-group .btn-default:focus, #mainCcmForm .btn-group .btn-default:hover, #mainCcmForm .btn-group .open>.dropdown-toggle.btn-default { background-color: #adc7f7; border-color: #6987bc; }

.well { border-radius: 0; box-shadow: none; }

form label.checkbox { font-weight: normal; }

#header { background: url('../../../images/footer_lodyas.png') 0px 0px; height: 50px; line-height: 48px; }
#feedback_content, #popup_content { line-height: 1.4rem; }
#close_popup_link, #close_feedback_link { position: relative; top: -5px; }
#toplogo { float: left; width: auto; font-family: 'robotoblack'; margin: 0; }
#toplogo a { font-size: 24px; letter-spacing: 1px; }
#toplogo a:hover, #toplogo a:visited, #toplogo a:focus, #toplogo a:active { text-decoration: none; color: #4D89F9; }
#header img.xi-logo { height: 24px; vertical-align: middle; margin-left: 1.5rem; padding-bottom: 2px; }
.header-right { float: right; color: #FFF; }
.header-right.profile { margin-right: 1.5rem; }
.header-right a { color: #FFF; font-size: 1.1rem; line-height: 2rem; display: inline-block; }
.header-right a:hover { text-decoration: none; color: #AAA; }
.header-right a:hover span { }
.header-right.search { margin-right: 2rem; }
.header-right.search form { margin: 0; }
.header-right.search form input { color: #222; }
.ext { cursor: default; font-size: 1.7rem; width: 54px; text-align: center; height: 50px; }
.ext:hover { background-color: #222; }
.ext ul { list-style-type: none; margin: 0; padding: 0 0 0 200px; }
.ext:hover span > ul { display: block; }
.ext ul { display: none; position: absolute; top: 50px; right: 0px; height: auto; z-index: 9999; }
.ext ul li { background-color: #222; font-weight: bold; padding: 0.25rem 1rem 1rem 1rem; color: #FFF; line-height: 1.7rem; width: 54px; text-align: center; }
.ext ul li:first-child { padding-top: 1rem; }
.ext ul li:last-of-type { padding-bottom: 1.75rem; }
.ext ul li a { font-size: 1.5rem; }

#submitAddViewButton { margin: 0; }
#addview_form .textfield { margin-bottom: 10px; }

#techsupport-contents ul li { margin-left: 1rem; }

#loginForm { width: auto; }

#footer img { margin-bottom: 0.1em; }
#footer { width: 100%; height: auto; line-height: 3em; background: url('../../../images/shattered.png'); cursor: default; margin: 0; padding: 0; }
#footer a { color: #000; border-bottom: 1px dotted #000; }
#footer a:hover { color: #333; text-decoration: none; border-bottom: 1px solid #333; }
.footer-right { text-align: right; }
.footer-left .btn-group .btn { padding: 3px 6px 4px; font-size: 90%; line-height: 1; font-weight: bold; margin-top: -3px; }
.footer-left .btn-group .btn:first-child { -webkit-border-radius: .25em 0 0 .25em; -moz-border-radius: .25em 0 0 .25em; border-radius: .25em 0 0 .25em; }
.footer-left .btn-group .btn:last-child { -webkit-border-radius: 0 .25em .25em 0; -moz-border-radius: 0 .25em .25em 0; border-radius: 0 .25em .25em 0; }

#tray_alerter { position: inherit; padding: 0; bottom: 0; right: 0; display: inline-block; margin-right: 1em; }
#tray_alerter_popup { border: 1px solid #DDD; height: auto; text-align: left; bottom: 40px; padding: 15px; line-height: 1.43; right: 300px; }

.contentheadernotice, .banner_message_notice { border-radius: 0; margin: 0; padding: 8px 16px; }
.banner_message_notice { border-radius: 0; margin: 0; padding: 8px 16px; }
.enterprisefeaturenotice.maincontent { margin: 0; top: 0; left: 0px; padding: 8px 16px; width: 100%; border-radius: 0; }
.rr > .enterprisefeaturenotice.maincontent { position: relative; }

#maincontent { width: 82%; left: 200px; top: 50px; }
#leftnav { background-color: #F9F9F9; border: none; /* border-right: 1px solid #E5E5E5; */ border-radius: 0; height: 85%; margin: 0; width: 200px; padding: 0; left: 0; }
#topmenucontainer { margin: 0; }

#topmenu { float: left; margin-left: 6rem; margin-top: 1px; height: 48px; }
#topmenu div.mainmenu > div { float: left; }
#topmenu div.mainmenu div a { font-size: 1.1rem; color: #FFF; text-shadow: 1px 1px 0px #333; font-weight: bold; padding: 0 1.7rem 0 1.5rem; }
#topmenu div.mainmenu div:last-child a { border-right: none; }
#topmenu div.mainmenu div a:hover, #topmenu div a:active, #topmenu div a:focus { text-decoration: none; color: #AAA; }

div.menusectiontitle { background-color: #E9E9E9; border: none; margin: 0; padding: 0.5rem 0.75rem; cursor: pointer; }

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th { vertical-align: middle; }
#popup_data table td { padding: 2px 4px; }

.btn i.r { margin-left: 0.25em; }
.btn i.l { margin-right: 0.25em; }

.form-error { border: 1px solid red; }
form .form-control, .form-control { line-height: 1.1rem; display: inline-block; width: auto; height: auto; margin: 0; font-size: 1.1rem; padding: 0.5rem 0.75rem; border-radius: 0; height: 29px; }
form .form-control:focus, .form-control:focus { border: 1px solid #CCC; box-shadow: inset 0 0 22px #EEE; }
form select.form-control, select.form-control { padding: 0.2rem 0.4rem; height: 29px; }
label input { font-weight: normal; }

.dashlettable { border: 1px solid transparent; padding: 0.75em 1em 1em 0.75em; }
.dashlettable.dashlettablehover { border: 1px dashed #888; }

table.infotable { margin: 0 0 5px 0; }
table.infotable thead th { padding: 0.4em 0.6em; }
table.infotable tbody td { padding: 0.4em; }
.sysstat_componentstates table.infotable tbody td, .sysstat_serverstats table.infotable tbody td, .sysstat_monitoringproc table.infotable tbody td, .sysstat_monitoringstats table.infotable tbody td, .sysstat_monitoringperf table.infotable tbody td { padding: 0.10em 0.4em; }
.sysstat_monitoringproc table.infotable tbody tr:last-child td, .sysstat_monitoringstats table.infotable tbody tr:last-child td, .sysstat_monitoringperf table.infotable tbody tr:last-child td, .sysstat_serverstats table.infotable tbody tr:last-child td, .sysstat_componentstates table.infotable tbody tr:last-child td  { padding-bottom: 0.4em; }
.sysstat_monitoringproc table.infotable tbody tr:first-child td, .sysstat_monitoringstats table.infotable tbody tr:first-child td, .sysstat_monitoringperf table.infotable tbody tr:first-child td, .sysstat_serverstats table.infotable tbody tr:first-child td, .sysstat_componentstates table.infotable tbody tr:first-child td  { padding-top: 0.4em; }

.table.table-no-border>tbody>tr>td, .table.table-no-border>tbody>tr>th, .table.table-no-border>tfoot>tr>td, .table.table-no-border>tfoot>tr>th, .table.table-no-border>thead>tr>td, .table.table-no-border>thead>tr>th { border: none; }

textarea.code { font-family: courier; font-size: 1.4rem; line-height: 1.6rem; padding: 10px; }
textarea.fullsize { width: 100%; min-width: 400px; height: 100%; }

table.table.table-auto-width { width: auto; }
table.table.table-no-margin { margin: 0; }
table.table.table-no-bg { background-color: transparent; }

table.tablesorter tbody tr td.hover, table.tablesorter tbody tr.even td.hover, table.tablesorter tbody tr.selected td, table.tablesorter tbody tr.even.selected td { background-color: #edf3ff; cursor: default; }
table.tablesorter tbody tr td input.uidcheckbox, #checkall { cursor: pointer; }
table.tablesorter tbody tr td.clickable { cursor: default; }

table.tablesorter thead tr .headerSortUp { background-image: url('../../../images/th_up.png'); }
table.tablesorter thead tr .headerSortDown { background-image: url('../../../images/th_down.png'); }
table.tablesorter thead tr .sort-header { background-repeat: no-repeat; background-position: 0% center; padding-left: 18px; }

table.tablesorter tbody td { color: #222; vertical-align: middle; padding: 5px; background-color: initial; }
table.tablesorter tfoot tr, table.tablesorter thead tr { background-color: #FFF; }
table.tablesorter thead tr th, table.tablesorter tfoot tr th { background-color: #FFF; font-size: 9pt; padding: 5px; }
table.tablesorter tbody tr.even td { background-color: initial; }

table table.table { margin: 0; }
.perm-users { margin-top: 10px; }

li.menulink a:hover, li.menulink a:visited, li.menulink a:focus { text-decoration: none; }
li.menulink a span { width: 16px; min-height: 16px; text-align: left; display: inline-block; }

.btn-sm { height: 29px; }
.btn-sm img { vertical-align: top; margin-right: 2px; }
.btn-group-sm>.btn, .btn-sm, .btn-group-xs>.btn, .btn-xs, .btn-group-lg>.btn, .btn-lg { border-radius: 0; }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus { outline: none; }
.fa.l { margin-right: 2px; }
.fa.r { margin-left: 2px; }
a.btn span:hover { text-decoration: none; }
.pager-select-page { margin: 0 10px 0 20px; }
.pager-select-numpages { margin: 0 20px 0 10px; }
.pager-select-numpages select, .pager-select-numpages button { vertical-align: top; }
.tablepagerselect, .tablepagertextfield { vertical-align: middle; }

.form-control.vam { vertical-align: middle; }

.xicore_perfdata_chart_outboard { padding: 0; }

form .submitbutton.login { margin-top: 10px; }
.login-box { float: right; }
.login-box h1 { margin: 0; padding: 0 0 15px 0; }
.login-box .forgot-pw { padding: 0; margin: 0; }
.login-box .message { width: 100%; }
.login-box .message ul.errorMessage { margin: 0 0 12px 0; }
.login-box .message ul.infoMessage { margin: 0 0 12px 0; border-color: #4D97FA; background-color: #A7CDFF; }
.login-box form .form-control { width: 65%; }
#languageopts { margin-top: 5px; }
.login-box .select-language { padding-top: 10px; }

.login-cell h3 { font-size: 18px; }

div.message ul { padding: 1em 1.5em; }

/* jQuery UI Overwrites */
.ui-widget-content a { color: #4D89F9; }
.ui-widget-content a.btn { color: #FFF; }
.ui-widget-content a.btn-default { color: #333; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active a { cursor: default; }

.reset-pass, .tf-verify { width: 600px; margin: 80px auto; }
.reset-pass h1, .tf-verify h1 { margin: 0; padding-top: 0; }
#resetForm { margin: 0; }
#resetForm p { margin: 10px 0; }
pre { border-radius: 0; }
.tf-verify .message { width: 100%; }
.tf-verify .errorMessage { width: 100%; margin: 15px 0 0 0; }

/* New report layout fixes in Modern */
div.reportexportlinks { }
.report-options { margin: -10px -20px 20px -20px; border-left: none; border-right: none; padding: 19px 19px 4px 19px; }
.report-options.form-inline .input-group { margin-bottom: 15px; }
.report-options #advanced-options { margin: 0 0 10px 0; padding: 0; }
.report-options.form-inline div.checkbox { margin: 1px 0 0 0; }
.report-options.form-inline div.checkbox label { margin-left: 20px; }
.report-options.form-inline div.checkbox input[type="checkbox"] { position: absolute; margin-left: -20px; }

.wiz-header-cb { margin: 0 0 0 15px; }

.extraicons img, .hosticons img, .serviceicons img { margin-left: 3px; }

ul.config-dropdown { list-style-type: none; margin: 0; padding: 0; background: #222; display: none; position: absolute; line-height: 30px; z-index: 9000; }
#config-menulink span ul { padding: 5px 0; }
#topmenu div#config-menulink span ul li a { font-weight: normal; }
#config-menulink:hover { background: #222; }
#config-menulink:hover span > ul { display: block; }

.getting_started_dashlet ul, .admin_task_dashlet ul { padding: 6px 0 8px 30px; margin: 0; }
.getting_started_dashlet ul li, .admin_task_dashlet ul li { padding: 3px 0; }

#mydashboardsmenu li:first-child { padding-bottom: 5px; border-bottom: 1px solid #E3E3E3; margin-bottom: 5px; margin-right: 15px; }
#wizardSearchBox { font-size: 0.9rem; }

.system-alerts { margin-right: 2em; }
.system-alerts .popover-title { display: none; }

.alert { border-radius: 0; }
.alert-max-checks { padding: 5px 15px; margin: 10px 0; }
.alert-max-checks h2 { margin-bottom: 0; padding-bottom: 0; }
.alert-max-checks p { margin: 10px 0 0 0; }
.table-outside-bordered { border: 1px solid #DDD; }

.support-links a { margin: 10px 10px 0 0; }
.support-links p { padding: 0; }
.support-links .days-left { line-height: 20px; text-align: center; padding: 5px; margin: 0 0 10px 0; }

/* overwrite objectnotes */
#tab-custom-objectnotes input[type=submit] { display: inline-block; margin-bottom: 0; font-weight: 400; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; background-image: none; border: 1px solid transparent; background-color: #4D89F9; border-color: #4D89F9; padding: 5px 10px; height: 29px; font-size: 12px; line-height: 1.5; color: #FFF; }
#tab-custom-objectnotes input[type=submit]:hover, #tab-custom-objectnotes input[type=submit]:focus, #tab-custom-objectnotes input[type=submit]:active { background-color: #1B59CD; border-color: #1B59CD; }

.undo-redo-spanners {background-color: rgb(255, 255, 255); color : rgb(0, 0, 0); border: 1px solid #ccc; border-radius: 4px; padding: 5px; margin: 5px; display: inline-block; font-size: 10px; font-family: monospace; white-space: nowrap; font-weight: bold;}

.undo-tag { padding: 5px; margin: 5px; display: inline-block; font-size: 12px; font-family: monospace; white-space: nowrap; font-weight: bold;}

#tab-custom-objectnotes input[type=submit]:hover, #tab-custom-objectnotes input[type=submit]:focus, #tab-custom-objectnotes input[type=submit]:active { background-color: #1B59CD; border-color: #1B59CD; }
