/* Dark style theme for Nagios XI Modern */

body, body.child, body.parent { background-color: #111; color: #EEE; }

#footer { background: #333; }
#footer a { color: #EEE; border-bottom-color: #AAA;}
#footer a:hover { color: #EEE; text-decoration: underline; }
#config-menulink:hover { background-color: #222; }
ul.config-dropdown { background-color: #222; }

.well { background-color: #262626; border-color: #262626; }
.well .form-control { background-color: #090909; border-color: #333; }
.well .input-group div.searchable-box { margin-right: 1px; }
.well .input-group .input-group-addon:first-child { border-right: none; }
.report-covers { color: #A0A0A0; }

#tray_alerter_popup { background-color: #000; border-color: #000; }

div.menusectiontitle { background-color: #222; color: #EEE; }
#leftnav { background-color: #222; color: #BBB; }
li.menulink a, li.menulink a:visited { color: #BBB; }
li.menulink a:hover { color: #4D89F9; }
.menusection-collapsed .menusectiontitle { border-bottom: 1px solid #0E0E0E; }

.homepage-box-bg { background-color: #262626; }

div.message, div.success { color: #000; }
#bpiContent div.message { color: #FFF; }
.subtext { color: #999; }
label { color: #EEE; }
pre { background-color: #333; border: 1px solid #555; color: #EEE; }
code { background-color: #333; color: #CCC; }

.actionMessage { color: #000; }

#notifications-tab label { color: #CCC; }
#notifications-tab .sel-users-new label { color: #EEE; }
#loadscreen { background-color: #000; }
#loadscreen-spinner { background-color: #CCC; }

#whiteout, #screen-overlay { background-color: #000 !important; }
#tacform, #cwform, #child_popup_layer, #popup_layer, #feedback_layer, #login_alert_popup,
	.xi-modal, div#settings-dropdown div.content { background-color: #242424; border-color: #454545; box-shadow: 1px 1px 5px #000; }
.info-popup { background-color: #242424 !important; border-color: #454545 !important; box-shadow: 1px 1px 5px #000 !important; }

div#settings-dropdown:before { background: transparent; }

.perfdata-popup .pf-graph-container { border: #000; box-shadow: 2px 2px 0px #000; background-color: #111; }

.xicore_perfdata_chart_outboard { border: 1px solid #111; }
.xicore_perfdata_chart_outboard.dashlettable { border: 1px solid #000; box-shadow: none; background-color: #111; }
.gauges_outboardclass { border: 1px solid #111; }

#graphDisplay { background-color: #111; border: 1px solid #111; }

table { color: #CCC; border-color: #444; }
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th,
	.table-bordered>thead>tr>td, .table-bordered>thead>tr>th { border-color: #444; }

.btn-default { background-color: #333; border-color: #333; color: #FFF; }
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus,
	.btn-default:hover, .open>.dropdown-toggle.btn-default { background-color: #444; border-color: #444; color: #FFF; }
.btn-default[disabled], .btn-default.disabled { background: #111 !important; border-color: #111; }

/* Fix styles on form fields inside alerts */
.alert .btn-default { background-color: #fff; border-color: #ccc; color: #333; }
.alert .btn-default:hover { background-color: #e6e6e6; border-color: #adadad; }
.alert .form-control { color: #555; background-color: #FFF; border-color: #ccc; }
.alert .form-control:focus { border-color: #ccc; box-shadow: inset 0 0 22px #eee; }

.btn-primary { background-color: #4D89F9; border-color: #4D89F9; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active { background-color: #1B59CD; border-color: #1B59CD; }

.btn-info { background-color: #5bc0de; border-color: #5bc0de; }
.btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus,
	.btn-info:hover, .open>.dropdown-toggle.btn-info { background-color: #269abc; border-color: #269abc; }

.form-control, .form-colors { background-color: #090909; border-color: #333; color: #EEE; }
.input-group-addon { background-color: #222; border-color: #333; color: #EEE; }
form .form-control:focus, .form-control:focus { border-color: #333; box-shadow: inset 0 0 22px #090909; }
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control { background-color: #090909; border-color: #090909; }
.header-right.search form input { color: #EEE; }
.form-control option.ok, .form-control option.warning, .form-control option.unknown, .form-control option.critical { color: #000; }

.sel-users-new { background-color: #030303; border-color: #333; }
.table>thead>tr>th .checkbox label, .table>tbody>tr>td .checkbox label { color: #EEE; }

.ui-widget-content, .ui-widget-header { background: #111; color: #EEE; }
.ui-widget-header { border-bottom: 1px solid #333; border-top: none; border-right: none; border-left: none; }

.dropdown-menu { background-color: #000; color: #EEE; }
.dropdown-menu>li>a { color: #EEE; }
.dropdown-menu>li>a:hover { background-color: #1A1A1A; color: #EEE; }

.sm-link { background-color: #333; border-color: #333; color: #FFF; }
.sm-link:hover { background-color: #444; border-color: #444; color: #FFF; }

.upload-title { color: #EEE; }

#service_stack div { background-color: #222 !important; }

.error2014, .ok2014, .message2014 { color: #000; }

div.bbmap_dashlet div.outer div.inner table.infotable th, div.bbmap_dashlet div.outer div.inner table.infotable td { border: 1px solid #444 !important; }
div.bbmap_dashlet div.outer div.inner table.infotable thead th.infotable_hosts:first-child { border: none !important; }
div.bbmap_dashlet div.outer div.inner table.infotable th { background-color: transparent !important; }

.popover { background-color: #222; color: #EEE; }
.popover-title { background-color: #222; }
.popover.right>.arrow { display: none; }
#pagetopalertcontent .popover a, #pagetopalertcontent .popover span.pop-row { color: #EEE; }
.popover.bottom>.arrow:after, .popover.top>.arrow:after, .popover.left>.arrow:after, .popover.right>.arrow:after { border-bottom-color: #222; }

textarea.code { color: #CCC; background-color: #111; border: 1px solid #444; }

.product-tab { background-color: #222 !important; color: #CCC !important; }
a.product-select-tab { border-color: #222 !important; background-color: #222 !important; }

/* Main table colors */
.table-striped > tbody > tr:nth-of-type(2n+1), .table-striped>tbody>tr:nth-of-type(odd) { background-color: #191919; }
.table-striped > tbody > tr:nth-of-type(2n) { background-color: #242424; }
table { border-top: none; }
table.tablesorter tbody td { color: #EEE; }
table tbody td.hostunknown, table tbody td.hostup,
	table tbody td.hostdown, table tbody td.hostunreachable, table tbody td.hostpending, .table>tbody>tr>td.hostunknown .checkbox label,
	.table>tbody>tr>td.hostup .checkbox label, .table>tbody>tr>td.hostdown .checkbox label, .table>tbody>tr>td.hostunreachable .checkbox label,
	.table>tbody>tr>td.hostpending .checkbox label { color: #000; }
table tbody td.serviceunknown, table tbody td.serviceok, table tbody td.servicepending,
	table tbody td.servicewarning, table tbody td.servicecritical, td.serviceok, td.servicewarning, td.servicecritical, td.serviceunknown, td.servicepending,
	.table>tbody>tr>td.serviceunknown .checkbox label, .table>tbody>tr>td.serviceok .checkbox label, .table>tbody>tr>td.servicewarning .checkbox label,
	.table>tbody>tr>td.servicecritical .checkbox label, .table>tbody>tr>td.servicepending .checkbox label { color: #000; }
table.infotable, table.tablesorter, .table-bordered { border: 1px solid #444; }
table.tablesorter thead th a { color: #EEE; }
table.tablesorter thead tr th, table.tablesorter tfoot tr th { background-color: #222; }
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th { border-top: none; }
tr.tacSubHeader td { color: #FFF; background-color: #191919 !important; }
tr.tacSubHeader td a { color: #FFF !important; }
.table .table { background-color: #111; }
.selected-hosts-box, .selected-services-box, .selected-hostgroups-box, .selected-servicegroups-box { border: 1px solid #444 !important; }
tr.alert td { color: #222; }
.table-outside-bordered, .table>thead>tr>th { border-color: #444; }
tr.highlight td { background-color: #353535; }

/* sumoselect */
.SumoSelect > .CaptionCont, .SumoSelect.open > .CaptionCont { background-color: #090909; border-color: #333; color: #CCC; }
.SumoSelect > .CaptionCont:hover, .SumoSelect > .CaptionCont:focus, .SumoSelect > .CaptionCont:active,
	.SumoSelect.open > .CaptionCont:hover, .SumoSelect.open > .CaptionCont:focus, .SumoSelect:hover > .CaptionCont, .SumoSelect:focus > .CaptionCont { border-color: #333; }
.SumoSelect > .optWrapper { background-color: #222; border: 1px solid #666; }
.SumoSelect > .optWrapper > .options li.opt { border-bottom: 1px solid #666; }
.SumoSelect > .optWrapper > .options li.opt:hover { background-color: #444; }
.SumoSelect > .optWrapper > .MultiControls { border-top: 1px solid #666; }
.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnOk { border-right: 1px solid #666; }
.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnOk, .SumoSelect > .optWrapper.multiple > .MultiControls > p.btnCancel { background-color: #333; }
.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnOk:hover, .SumoSelect > .optWrapper.multiple > .MultiControls > p.btnCancel:hover { background-color: #444; }
.SumoSelect.open .search-txt { background-color: #000; }
.SumoSelect > .CaptionCont > label > i { filter: invert(100%); }

/* jquery ui tabs */
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited, .ui-state-default a,
	.ui-state-default a:link, .ui-state-default a:visited { color: #EEE; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active { background-color: #111; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { background-color: #252525; border-color: #252525; color: #EEE; }
.ui-state-default:not(.ui-state-active):hover { background-color: #555; border-top: 1px solid #555; border-left: 1px solid #555; border-right: 1px solid #555; }
.ui-widget.ui-widget-content { border: 1px solid #333; }
.ui-widget-content a.btn-default { color: #FFF; }

/* CCM overlays */
.ccm-label { color: #AAA !important; }
div.overlay { background-color: #242424 !important; border: 1px solid #333 !important; box-shadow: 0px 0px 10px #333 !important; }
.btn-group .btn-default.active, .btn-group .btn-default.focus, .btn-group .btn-default:active, .btn-group .btn-default:focus, .btn-group .btn-default:hover, .btn-group .open>.dropdown-toggle.btn-default { background-color: #111; border-color: #000; }
.overlay .table { background-color: #191919 !important; border: 1px solid #444 !important; }
.ccm-splash-container table { background-color: #111 !important; border-top: 1px solid #444; }
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th { border-top: 1px solid #444; }
.statustable .hostup, .statustable .hostdown, .statustable .hostunreachable, .statustable .hostpending { color: #000; }
.table-hover>tbody>tr:hover { background-color: #333 !important; }
.right-container { border: none !important; }
.right-container .table>thead>tr>th { border-bottom: 1px solid #444 !important; }
#rel-popup { background-color: #111 !important; border: 1px solid #222 !important; }
#rel-popup .close { color: #FFF !important; }
#commandOutputBox pre, #commandOutputBox #command_output { background-color: #222 !important; }

.pagenumbers, div#contentWrapper div.pagenumbers { background-color: #222 !important; color: #EEE !important; border-color: #444 !important; }
.pagenumbers:hover, div#contentWrapper div.pagenumbers:hover { background-color: #333 !important; }
div#contentWrapper .paging-div .pagenumbers.deselect { background-color: #333 !important; }
.pagenav-ends { border-color: #444 !important; }
.pagenav-ends:hover { background-color: #555 !important; }
.pagenav-ends i { filter: invert(100%); }

div#contentWrapper .success, div#contentWrapper .error { color: #222; }

/* Configuration wizards */
.wiz-padbox-inner { background-color: #303030; border: 1px solid #222; display: block; }
.wiz-padbox-inner:hover, .wiz-padbox-inner:active, .wiz-padbox-inner:focus { text-decoration: none; background-color: #222; border: 1px solid #111; }
.wiz-box-text p { color: #BBB; }
.well.select div.active { background-color: #303030; }

#hypermap-replay-left-container, #hypermap-replay-right-container { color: #CCC !important; background-color: #111 !important; }

/* Bandwidth report */
.total2, .total2head { background-color: #363636 !important; }
.total1, .total1head { background-color: #2F2F2F !important; }

.infotable-wrapper { border: 1px solid #444; }
.metric_gauge_box { color: #000; }

/* Capacity Planning */
.cp-settings-box { background-color: #222 !important; border: 1px solid #333 !important; }
.cp-tab-container { background-color: #111 !important; border: 1px solid #000 !important; }
.cp-tabs li { border: 1px solid #000 !important; background: #111 !important; border-left: none !important; }
.cp-tabs li.active { border-left: 1px solid #111 !important; }

/* Configuration / Config Wizards */
.config-top a.well, .config-page-container .config-block a.well { color: #EEE; }
.config-top a.well:hover, .config-page-container .config-block a.well:hover { background-color: #333; }
.well.select div:hover { background-color: #333; }

.hiddendropdown { background-color: #222; border: 1px solid #333; }
.hiddendropdown li a { color: #EEE; }

.alert .table { background-color: #242424 !important; }

.thumbnail { background-color: #111; }

/* BPI */
#bpiContent .fixedwidth { color: #000; }
#bpiContent .group { background-color: #242424 !important; }

/* Hypermap overrides */
#hypermap-inner-details, #hypermap-log { background-color: rgb(17, 17, 17, 0.95) !important; }
#hypermap-left-container, #hypermap-right-container, #hypermap-log { color: #EEE !important; }
.tip { background-color: #333 !important; border-color: #666 !important; color: #EEE !important; }

.nxtiWidget { color: #EEE !important; }

/* Status map coloring */
.node text { fill: #EEE; }
.modal-content { background-color: #333; }
#map-container #popup { background-color: #333; border: 1px solid #444; color: #EEE; }
div#menubutton button { background-color: #111; color: #EEE; }
div#menubutton button img { filter: invert(100%); }

/* Fix operations screen */
#nagios_placeholder .logo { color: #000; }

.chartrender .group { fill: #FFF; }
.table th.highlight, .table td.highlight { background-color: #333; }

/* AD/LDAP Import */
.folder-list { background-color: #222 !important; }
.ad-ldap-container {  background-color: #222; border-right: #333 1px solid; }
.ad-folder:hover, .ad-folder.active { background-color: #333 !important; }

.support-links .days-left { color: #000; }

div#settings-dropdown .checkbox-setting { background-color: #222 !important; border: 1px solid #444 !important; }

/* Diff2html changes for dark theme */
.d2h-info { border-color: #333 !important; background-color: #222 !important; color: #EEE !important; }
.d2h-file-wrapper { border: 1px solid #333 !important; }
.d2h-code-side-linenumber { background-color: #222 !important; border: solid #333 !important; border-width: 0 1px 0 1px !important; color: #EEE !important; }
.d2h-code-side-line.d2h-del, .d2h-code-side-line.d2h-ins { color: #000 !important; }
.d2h-code-side-emptyplaceholder, .d2h-emptyplaceholder { background-color: #222 !important; }
.d2h-diff-table td, .d2h-diff-table th { border: 1px solid #333 !important; }

/* Overwrite notes component */
#tab-custom-objectnotes textarea { background-color: #090909; border-color: #333; color: #EEE; }

.undo-redo-spanners {background-color: black; color : rgb(255, 255, 255); border: 1px solid #ccc; border-radius: 4px; padding: 5px; margin: 5px; display: inline-block; font-size: 10px; font-family: monospace; white-space: nowrap; font-weight: bold;}

.undo-tag {background-color: rgb(0, 0, 0); color : rgb(255, 255, 255); padding: 5px; margin: 5px; display: inline-block; font-size: 12px; font-family: monospace; white-space: nowrap; font-weight: bold;}
/* Overwrites the Dashboard dashlet resize border */
.dashboarddashletcontainer.ui-resizable-resizing { border: 1px dotted #4D89F9 }

/* Overwrite css for banner_message features */
#select_specific_users_banner_message, #selected_users { background-color: #090909;}
#select_specific_users_banner_message:not(:focus) option:checked, #selected_users:not(:focus) option:checked { background-color: inherit; color: #CCCCCC; }
#user_details_caption { color: #CCCCCC; }
#banner_message_caption { background-color: #090909; border: 1px solid #444; border-bottom: none; }
.user_details_table_body tr:last-child { border-bottom: 1px solid #444 ;}
#banner_message_modal {background-color: rgb(25, 25, 25); border: 1px solid #454545;}
.confirm-rtd-table {background-color: rgb(17, 17, 17); border-color: #DDD;}
.rtd-content-table {border-left: 1px solid #444; border-right: 1px solid #444; border-bottom: 1px solid #444;}
.xi-modal-banner_message, div#settings-dropdown div.content { background-color: #242424; border-color: #454545; box-shadow: 1px 1px 5px #000; }
#banner_message_banner_color {background-color: #090909;}
.banner_message_start_date, .banner_message_end_date { background-color: #090909; border: 1px solid #333;}
#banner_message {border: 1px solid #333;}
#select_specific_users_banner_message {border: 1px solid #333;}
#selected_users {border: 1px solid #333;}
.message_time_disabled {background-color: #2c2b2b; color: gray;}

/* Banner Message Date Picker Menu */
#banner_message_start_date::-webkit-calendar-picker-indicator, #banner_message_end_date::-webkit-calendar-picker-indicator { filter: invert(20%) saturate(500%) hue-rotate(180deg) brightness(1000%); }
#banner_message_start_date::-moz-calendar-picker-indicator, #banner_message_end_date::-webkit-calendar-picker-indicator { filter: invert(20%) saturate(500%) hue-rotate(180deg) brightness(1000%); }
#banner_message_start_date::-ms-calendar-picker-indicator, #banner_message_end_date::-webkit-calendar-picker-indicator { filter: invert(20%) saturate(500%) hue-rotate(180deg) brightness(1000%); }
#banner_message_start_date::-o-calendar-picker-indicator, #banner_message_end_date::-webkit-calendar-picker-indicator { filter: invert(20%) saturate(500%) hue-rotate(180deg) brightness(1000%); }
#banner_message_start_date::-khtml-calendar-picker-indicator, #banner_message_end_date::-webkit-calendar-picker-indicator { filter: invert(20%) saturate(500%) hue-rotate(180deg) brightness(1000%); }
